@import url(http://fonts.googleapis.com/css?family=Raleway:600);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* clear
-----------------------------------------------------------------------------*/
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a img {
  border: none;
}

a:focus,
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

.clearfix {
  outline: medium none;
  *zoom: 1;
}
.clearfix:after {
  font-size: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
  overflow: hidden;
  height: 0;
  content: '';
}

input:focus,
textarea:focus {
  outline: none;
}

/* typography
-----------------------------------------------------------------------------*/
@font-face {
  font-family: "gotham-pro";
  src: url("fonts/gotham-pro/gotham-pro-regular.eot");
  src: url("fonts/gotham-pro/gotham-pro-regular.eot?#iefix") format("embedded-opentype"), url("fonts/gotham-pro/gotham-pro-regular.woff") format("woff"), url("fonts/gotham-pro/gotham-pro-regular.ttf") format("truetype");
}
body, input,
textarea,
select, .btn, .buttons-grupp .btn-cat {
  font-family: "gotham-pro", sans-serif;
}

body {
  letter-spacing: .025em;
  color: #000;
  background: #fff;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
}

a {
  outline: none;
}

ul li {
  line-height: 24px;
  line-height: 1.5rem;
}

p {
  padding-bottom: 21px;
}

.h1, .h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 40px;
  line-height: 2.5rem;
}
.h1 span, .h2 span {
  position: relative;
  display: inline-block;
}
.h1 span:before, .h2 span:before, .h1 span:after, .h2 span:after {
  position: absolute;
  top: 16px;
  display: block;
  width: 60px;
  height: 5px;
  content: '';
  background: #f46e3f;
}
.h1 span:before, .h2 span:before {
  left: -70px;
}
.h1 span:after, .h2 span:after {
  right: -70px;
}

.h1.__modiff, .__modiff.h2 {
  position: relative;
  margin-bottom: 30px;
  padding-left: 70px;
  text-align: left;
}
.h1.__modiff:after, .__modiff.h2:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 59px;
  height: 5px;
  margin: auto;
  content: '';
  background: #f46e3f;
}

.h2 {
  margin-bottom: 21px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 40px;
  line-height: 2.5rem;
}

.h3 {
  position: relative;
  margin-bottom: 21px;
  padding: 0;
  text-transform: uppercase;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 40px;
  line-height: 2.5rem;
}
.h3:before {
  position: absolute;
  top: 5px;
  left: -25px;
  display: block;
  width: 10px;
  height: 29px;
  content: '';
  background: #f46e3f;
}
.h3 .prim:before {
  content: '*';
  color: #f46e3f;
}
.h3 a {
  text-decoration: none;
  color: #000;
}

.simple-title {
  padding: 10px 0 0;
  text-transform: uppercase;
  color: #f46e3f;
}

.nav-t {
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
  border-bottom: 1px solid;
}

a {
  color: #f46e3f;
}

.stylized-list {
  margin-bottom: 21px;
}
.stylized-list li:before {
  content: ' - ';
}

.txt-uppercase {
  text-transform: uppercase;
}

/* sticky footer
-----------------------------------------------------------------------------*/
html,
body {
  height: 100%;
}

body {
  min-width: 1024px;
}

.page-layout {
  min-height: 100%;
  margin-bottom: -576px;
  padding-bottom: 100px;
}

.page-layout.__contacts-modiff {
  margin-bottom: -1166px;
}

.page-layout:after {
  display: block;
  content: '';
}

.footer,
.page-layout:after {
  height: 576px;
}

.footer.__contacts-modiff,
.page-layout.__contacts-modiff:after {
  height: 1166px;
}

.footer {
  position: relative;
  background: #eff6f5;
  font-size: 14px;
  font-size: 0.875rem;
}
.footer:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 50%;
  height: 100%;
  content: '';
  background: #f2f2f2;
}
.footer .footer_table {
  position: relative;
  display: table;
  width: 1206px;
  height: 420px;
  margin: 0 auto;
}
.footer .footer_row {
  display: table-row;
}
.footer .footer_col {
  display: table-cell;
  float: left;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  padding: 60px 0 0 40px;
  vertical-align: top;
}
.footer .footer_col:first-child {
  padding-right: 40px;
  padding-left: 0;
}
.footer .footer_col .h3 {
  margin-left: 25px;
}
.footer .footer_col_wr {
  text-align: left;
}
.footer .footer_col_s {
  display: inline-block;
  padding-right: 20px;
  text-align: left;
}
.footer .footer_menu {
  margin-right: 130px;
}
.footer .footer_menu li {
  padding-bottom: 5px;
}
.footer .footer_menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}
.footer .footer_menu li.active a,
.footer .footer_menu a:hover {
  color: #f46e3f;
}
.footer .footer_contact_info {
  margin-bottom: 30px;
}
.footer .footer_contact_info a {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
.footer .footer_copyright {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  height: 40px;
}
.footer .footer_copyright .wr {
  position: relative;
  max-width: 1206px;
  margin: 0 auto;
}
.footer .footer_copyright span {
  font-weight: bold;
  position: relative;
  top: 3px;
  display: inline-block;
  margin-right: 25px;
  font-size: 24px;
  font-size: 1.5rem;
}
.footer .mediahero {
  line-height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  text-align: right;
  color: #fff;
  background: #000;
}
.footer .footer_info {
  max-width: 1206px;
  margin: 0 auto;
}
.footer .logo-mh {
  position: relative;
  top: -16px;
  display: inline-block;
  float: right;
  width: 170px;
  height: 40px;
  background: url(img/elements.png) no-repeat -222px -5px;
}
.footer .footer-txt {
  font-size: 0;
  margin-bottom: 30px;
  padding-top: 20px;
  text-align: center;
  vertical-align: top;
}
.footer .footer-txt .footer-txt_col {
  line-height: 1.5em;
  display: inline-block;
  padding: 0 0 0 40px;
  vertical-align: middle;
  font-size: 14px;
  font-size: 0.875rem;
}
.footer .footer-txt .footer-txt_col:first-child {
  width: 40%;
  padding-left: 0;
}
.footer .footer-txt .footer-txt_col:nth-child(2) {
  width: 60%;
  text-align: left;
  border-left: 1px solid #000;
}
.footer .footer-txt .footer-txt_col p {
  padding: 10px 0;
}
.footer .footer-txt .footer-contact_phn {
  display: block;
}

/* header 
-----------------------------------------------------------------------------*/
.header {
  position: relative;
}
.header .header_sidebar {
  font-size: 0;
  max-width: 1456px;
  min-width: 918px;
  margin: 0 auto;
  padding: 25px 0 10px;
  text-align: right;
}
.header .header_sidebar_col {
  width: 49.9%;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  font-size: 16px;
}
.header .header_sidebar_phone,
.header .header_sidebar_address {
  display: inline-block;
  vertical-align: top;
}
.header .header_sidebar_phone {
  position: relative;
  padding-right: 15px;
}
.header .header_sidebar_phone:after {
  position: absolute;
  top: 45%;
  right: 0;
  display: block;
  width: 50px;
  height: 1px;
  content: '';
  transform: translateX(26px) rotate(90deg);
  background: #e1e1e1;
}
.header .header_sidebar_address {
  position: relative;
  padding: 0 60px 0 15px;
}
.header .header_sidebar_phn {
  display: block;
  padding: 1px 0 5px;
  text-align: right;
}
.header .header_sidebar_phn i {
  font-style: normal;
  color: #888;
}
.header .header_sidebar_addr {
  display: block;
  padding: 1px 0 5px;
  text-align: left;
}
.header .logo-msservice {
  top: 0;
  margin-right: 12%;
  text-decoration: none;
  display: inline-block;
}
.header .logo-msservice img {
  width: 100%;
  max-width: 280px;
}
.header .map-ico {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 30px;
  height: 44px;
  cursor: pointer;
  background: url(img/elements.png) no-repeat -40px 0;
}
.header .btn-price, .header .btn-call {
  position: relative;
  top: 4px;
  height: 37px;
}
.header .btn-call {
  margin-right: 16%;
  width: 160px;
  padding: 0;
}
.header .btn-price {
  margin-right: 6%;
  height: 37px;
  width: 158px;
}
.header .header-section .logo-msservice {
  margin: 0;
}
.header .header-section .btn-price {
  position: relative;
  top: 0;
}

.header-section {
  font-size: 0;
  position: relative;
  box-sizing: border-box;
  min-width: 1024px;
  max-width: 1456px;
  margin: 0 auto;
  padding: 0 75px;
  text-align: right;
  border-top: 1px solid #000;
}
.header-section:first-child {
  height: 80px;
  border-top: none;
}
.header-section .header_logo {
  position: relative;
  top: 20px;
  float: left;
}
.header-section .header-section_col {
  display: inline-block;
  margin-left: 45px;
  vertical-align: middle;
  font-size: 14px;
  font-size: 0.875rem;
}
.header-section .header-section_col:first-child {
  margin-left: 0;
}
.header-section .contact-section {
  position: relative;
  display: inline-block;
  padding: 10px 0;
  font-size: 16px;
  font-size: 1rem;
}
.header-section .contact-section .contact-section_phn i {
  color: #888;
}
.header-section .contact-section .contact-section_addr {
  font-size: 14px;
  font-size: 0.875rem;
}
.header-section .contact-section .map-ico {
  top: -5px;
  width: 31px;
  height: 31px;
  background-image: url(img/elements_medium.png);
  background-position: -34px 0;
}
.header-section .__map-ico {
  position: relative;
  padding: 0 40px;
}
.header-section .__map-ico:before {
  position: absolute;
  top: 2px;
  left: 20px;
  display: block;
  width: 1px;
  height: 19px;
  content: '';
  background: #d7d7d7;
}
.header-section .btn-inline {
  margin-right: 15px;
}

.header_menu {
  line-height: 80px;
  height: 80px;
  font-size: 15px;
  font-size: 0.9375rem;
}
.header_menu a {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}
.header_menu a:hover, .header_menu a.active {
  color: #f46e3f;
}
.header_menu a:hover:after, .header_menu a.active:after {
  position: absolute;
  right: 0;
  bottom: -3px;
  left: 0;
  z-index: 2;
  display: block;
  width: 35px;
  height: 5px;
  margin: auto;
  content: '';
  border-right: 4px solid #fff;
  border-left: 4px solid #fff;
  background: #f46e3f;
}

/* main menu
-----------------------------------------------------------------------------*/
.header_nav {
  position: absolute;
  z-index: 2;
  top: 35px;
  left: 28px;
  width: 280px;
  padding: 25px 60px 35px 0;
  border: 5px solid #f46e3f;
}
.header_nav .main-menu li {
  position: relative;
  border-left: 5px solid #fff;
}
.header_nav .main-menu a {
  display: block;
  padding: 5px 15px;
  text-decoration: none;
  text-transform: uppercase;
  word-wrap: break-word;
  color: #000;
  font-size: 18px;
  font-size: 1.125rem;
}
.header_nav .main-menu li:hover a,
.header_nav .main-menu li.active a {
  color: #fff;
  background: #f46e3f;
}
.header_nav .main-menu li:hover:before,
.header_nav .main-menu li.active:before {
  position: absolute;
  top: 0;
  left: -10px;
  display: block;
  width: 5px;
  height: 100%;
  content: '';
  background: #fff;
}

.mobile-menu-ico {
  font-size: 0;
  position: absolute;
  z-index: 5;
  top: 21px;
  left: 40px;
  display: none;
  width: 47px;
  height: 47px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  border: none;
  outline: none;
  background: #f46e3f;
}
.mobile-menu-ico:focus {
  outline: none;
}
.mobile-menu-ico span {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 5px;
  background: #fff;
}
.mobile-menu-ico span:after, .mobile-menu-ico span:before {
  position: absolute;
  left: 0;
  display: block;
  width: 22px;
  height: 4px;
  content: '';
  background: #fff;
}
.mobile-menu-ico span:after {
  top: -8px;
}
.mobile-menu-ico span:before {
  bottom: -8px;
}

/* btn
-----------------------------------------------------------------------------*/
.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px 15px;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  word-wrap: break-word;
  color: #000;
  border: 3px solid #f46e3f;
  background: none;
  font-size: 14px;
  font-size: 0.875rem;
}
.btn:hover {
  color: #fff;
  background: #f46e3f;
}

.btn-price {
  position: relative;
  padding: 12px 18px 14px 33px;
  color: #fff;
  border: none;
  background: #f46e3f;
  line-height: 14px;
}
.btn-price:hover {
  border-color: #cb562d;
}
.btn-price:hover:after {
  background: #000;
}
.btn-price:before {
  position: absolute;
  top: 10px;
  left: 15px;
  display: inline-block;
  width: 18px;
  height: 14px;
  content: '';
  background: url(img/elements.png) no-repeat 0 0;
}
.btn-price:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  content: '';
  background: #cb562d;
}

.btn-call:hover {
  color: #fff;
  border-color: #f46e3f;
  background: #f46e3f;
}

.price-list {
  position: relative;
  text-align: center;
}
.price-list:before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  margin: auto;
  content: '';
  background: #e1e1e1;
}

.btn-price-circle {
  line-height: 1.2em;
  width: 130px;
  height: 130px;
  color: #fff;
  border: 5px solid #e1e1e1;
  border-radius: 50%;
  background: #f46e3f;
}
.btn-price-circle:hover {
  border-color: #858585;
}
.btn-price-circle:before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 150px;
  height: 150px;
  margin: auto;
  content: '';
  border-radius: 50%;
  background: #fff;
}
.btn-price-circle i {
  display: block;
  width: 40px;
  height: 30px;
  margin: 15px auto 10px;
  content: '';
  background: url(img/elements.png) no-repeat scroll 0 -15px;
}

.btn-default {
  color: #fff;
  background: #f46e3f;
}
.btn-default:hover {
  color: #000;
  background: none;
}

.btn-scroll-top {
  position: absolute;
  top: -50px;
  right: 0;
  left: 0;
  display: block;
  width: 65px;
  height: 65px;
  margin: auto;
  cursor: pointer;
  transition: opacity .1s;
  text-align: center;
  vertical-align: middle;
  border: none;
  background: #000;
}
.btn-scroll-top:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 21px;
  height: 13px;
  margin: auto;
  content: '';
  background: url(img/elements.png) no-repeat -162px -23px;
}
.btn-scroll-top:focus {
  outline: none;
}
.btn-scroll-top:hover {
  background: #f46e3f;
}

.__contacts-modiff .btn-scroll-top {
  z-index: 5;
  top: 540px;
}

.btn-reload {
  display: inline-block;
  width: 20px;
  height: 19px;
  vertical-align: baseline;
  border: none;
  background: url(img/btn-reload.gif) no-repeat 0 0;
}

.btn-inline {
  display: inline-block;
  cursor: pointer;
  border: none;
  border-bottom: 1px dotted #f46e3f;
  background: none;
}
.btn-inline:hover {
  color: #f46e3f;
  border-color: #000;
}

.btn-down {
  display: block;
  width: 34px;
  height: 34px;
  text-decoration: none;
  outline: none;
}
.btn-down:focus {
  outline: none;
}

.btn-center {
  display: block;
  width: 160px;
  margin: 0 auto;
}

/* grid
-----------------------------------------------------------------------------*/
.header-offset-r {
  margin-right: 90px;
  margin-right: 5.625rem;
}

.offset-bottom-8 {
  margin-bottom: 80px;
}

.content {
  max-width: 1209px;
  margin: 0 auto;
}

.fix-block {
  max-width: 1456px;
  margin: 0 auto;
}

.content-inner {
  padding-top: 50px;
  padding-left: 8.242506811989101%;
}
.content-inner .content-inner_col {
  float: left;
}
.content-inner .__col-m {
  width: 795px;
}
.content-inner .__col-s {
  max-width: 420px;
  margin-left: 80px;
}

.img-center {
  margin-bottom: 50px;
}
.img-center img {
  max-width: 100%;
}

.fix-s {
  width: 1047px;
  margin: 0 auto;
}
.fix-s .news .news_item_abstr p:after {
  bottom: 25px;
}

.border-frame {
  width: 595px;
  margin: 30px auto 80px;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}
.border-frame .border-frame_t {
  font-size: 22px;
  font-size: 1.375rem;
}

.responsive-img {
  max-width: 100%;
}

.txt-center {
  text-align: center;
}

/* sent-question
-----------------------------------------------------------------------------*/
.sent-question {
  position: relative;
  width: 690px;
  height: 235px;
  margin: 45px auto 90px;
  text-align: center;
  background: url(img/bgr_question.jpg) no-repeat 0 0;
}
.sent-question .sent-question_t {
  margin-bottom: 45px;
  padding-top: 70px;
  text-transform: uppercase;
  font-size: 22px;
  font-size: 1.375rem;
}
.sent-question:after {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: -10px;
  width: 710px;
  height: 255px;
  margin: auto;
  content: '';
  background: #fff;
}
.sent-question:before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: -35px;
  display: block;
  width: 750px;
  height: 126px;
  margin: auto;
  content: '';
  border: 5px solid #f46e3f;
}

/* breadcrumbs
-----------------------------------------------------------------------------*/
.breadcrumbs {
  margin-bottom: 30px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 40px;
  line-height: 2.5rem;
}
.breadcrumbs a {
  position: relative;
  margin-right: 20px;
  text-decoration: none;
  color: #000;
}
.breadcrumbs a:before {
  position: absolute;
  bottom: -2px;
  left: 1px;
  display: block;
  width: 100%;
  height: 1px;
  content: '';
  background: #000;
}
.breadcrumbs a:after {
  position: absolute;
  top: 4px;
  right: -15px;
  display: block;
  width: 5px;
  height: 10px;
  content: '';
  background: url(img/elements.png) no-repeat -192px -40px;
}
.breadcrumbs .divider {
  color: #d3d3d3;
}

/* map
-----------------------------------------------------------------------------*/
.modal-map {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
}

.modal-map:before {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}

.modal-map.__visible {
  visibility: visible;
}

.__overflow {
  overflow: hidden;
}

.map-layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.map-layout #map-canvas, .map-layout #map-canvas-footer {
  position: relative;
  width: 100%;
  height: 100%;
}
.map-layout .close-modal {
  z-index: 20;
}

/* fixed block
-----------------------------------------------------------------------------*/
.fixed-block {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 10px -3px #000;
}
.fixed-block .mobile-menu-ico {
  display: inline-block;
}
.fixed-block .header_nav {
  top: 0;
  left: -280px;
  padding: 75px 10px 70px;
  border: none;
  background: #f46e3f;
}
.fixed-block .header_nav .main-menu li {
  border-left: none;
}
.fixed-block .header_nav .main-menu li:hover:before,
.fixed-block .header_nav .main-menu li.active:before {
  display: none;
}
.fixed-block .header_nav .main-menu li:hover a,
.fixed-block .header_nav .main-menu li.active a {
  color: #000;
  background: #fff;
}

/* fo bitrix
-----------------------------------------------------------------------------*/
div[id^='bx_incl_area'] {
  display: inline;
}

/* brend-logo
-----------------------------------------------------------------------------*/
.brend-logo {
  position: relative;
}
.brend-logo .__bw {
  position: absolute;
  z-index: 1;
  transition: opacity .3s;
  opacity: 1;
}
.brend-logo .__bw:hover {
  opacity: 0;
}

/*---------------------------------------------------------------------------*/
.is-static {
  position: static;
}

/*---------------------------------------------------------------------------*/
/* header blocks
-----------------------------------------------------------------------------*/
.header .header_phone {
  margin-left: 2.604166666666667%;
}
.header .header_offset_left {
  margin-left: 4.947916666666667%;
}

/* slider header
-----------------------------------------------------------------------------*/
.header_slider {
  position: relative;
  overflow: hidden;
  margin-bottom: 140px;
  padding-left: 260px;
  padding-left: 16.25rem;
}
.header_slider img {
  max-width: 100%;
  height: 620px;
}
.header_slider .bx-pager {
  font-size: 0;
  position: absolute;
  bottom: 10px;
  left: 4%;
  height: 18px;
  text-align: left;
}
.header_slider .bx-pager a {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 5px;
  border: 3px solid #f46e3f;
  background: #fff;
}
.header_slider .bx-pager a span {
  text-indent: -9999px;
}
.header_slider .bx-pager a:first-child {
  margin-left: 0;
}
.header_slider .bx-pager a.active {
  background: #000;
}
.header_slider .bxslider-caption {
  position: absolute;
  top: 130px;
  right: 0;
  bottom: 0;
  left: 20%;
  overflow: hidden;
  max-width: 1044px;
  margin: auto;
}
.header_slider .bxslider_caption_col {
  float: left;
  padding-left: 40px;
  vertical-align: middle;
  width: 40%;
}
.header_slider .bxslider_caption_border {
  padding-right: 40px;
  padding-left: 0;
  border-right: 5px solid #f46e3f;
}
.header_slider .bxslider_caption_full {
  text-align: center;
  padding: 0;
  width: auto;
}
.header_slider .bxslider_caption_full .promo-btns {
  padding: 0;
  text-align: center;
}
.header_slider .bxslider_caption_full .promo_txt {
  max-width: 100%;
  width: auto;
}
.header_slider .promo_h1 {
  font-family: 'Raleway', sans-serif;
  text-align: right;
  font-size: 20px;
  font-size: 1.25rem;
}
.header_slider .promo_h1 .txt-big {
  display: block;
  color: #fff;
  font-size: 140px;
  font-size: 8.75rem;
  line-height: 140px;
  line-height: 8.75rem;
}
.header_slider .promo_h1 .txt-small {
  display: inline-block;
}
.header_slider .promo_txt {
  max-width: 445px;
  text-align: left;
  color: #fff;
  font-size: 48px;
  line-height: 52px;
}
.header_slider .promo-btns {
  font-size: 0;
  margin-top: 50px;
  text-align: left;
  padding-left: 50px;
  padding-left: 3.125rem;
}
.header_slider .promo-btn-simple,
.header_slider .promo-btn-bg {
  display: inline-block;
  box-sizing: border-box;
  width: 155px;
  padding: 8px 0;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  word-wrap: break-word;
  color: #fff;
  border: 3px solid #f46e3f;
  background: none;
  font-size: 14px;
  font-size: 0.875rem;
}
.header_slider .promo-btn-simple:hover {
  background: #f46e3f;
}
.header_slider .promo-btn-bg {
  background: #f46e3f;
}
.header_slider .promo-btn-bg:hover {
  background: none;
}

/* search
-----------------------------------------------------------------------------*/
.search {
  margin-bottom: 90px;
}
.search .search_col_m,
.search .search_col_s {
  float: left;
}
.search .search_col_s {
  width: 11.60862354892206%;
}
.search .search_col_m {
  width: 88.39137645107794%;
}

.search.__cat {
  margin: 30px 0 20px;
}

.search_form {
  font-size: 0;
  width: 100%;
  text-align: left;
}
.search_form .search_field {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 47px;
  padding: 0 15px;
  vertical-align: top;
  color: #505050;
  border: 2px solid #898989;
  border-right: 0;
  font-size: 14px;
  font-size: 0.875rem;
}
.search_form .search_field:focus {
  outline: none;
}
.search_form .search_field::-webkit-input-placeholder {
  font-style: italic;
  color: #505050;
}
.search_form .search_field::-moz-placeholder {
  font-style: italic;
  color: #505050;
}
.search_form .search_field:-moz-placeholder {
  font-style: italic;
  color: #505050;
}
.search_form .search_field:-ms-input-placeholder {
  font-style: italic;
  color: #505050;
}
.search_form .search_btn {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 47px;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
  border: 2px solid #f46e3f;
  background: #f46e3f;
}
.search_form .search_btn:hover {
  border-color: #cb562d;
  background: #cb562d;
}
.search_form .search_btn:after {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 32px;
  height: 32px;
  content: '';
  background: url(img/elements.png) no-repeat -187px 0;
}

.search-t {
  color: #f46e3f;
  font-size: 22px;
  font-size: 1.375rem;
}

.search-result {
  padding-bottom: 100px;
}
.search-result .search-message {
  padding: 50px 0;
  text-align: center;
}
.search-result .search-message_t {
  color: #f46e3f;
}
.search-result .go-cat {
  position: relative;
  padding-bottom: 1px;
  text-decoration: none;
  border-bottom: 1px solid #fce0d8;
}
.search-result .go-cat span {
  color: #f46e3f;
}
.search-result .go-cat i {
  font-style: none;
  position: absolute;
  left: -20px;
  color: #f46e3f;
}
.search-result .go-cat-wr {
  max-width: 335px;
  margin: 20px auto 0;
  padding-top: 25px;
  border-top: 1px solid #959595;
}

.search-count-mess {
  font-size: 14px;
  color: #4d4d4d;
}

.products-found {
  display: table;
  width: 100%;
  margin: 20px 0 40px;
}
.products-found .product-row {
  display: table-row;
}
.products-found .product {
  font-size: 0;
  position: relative;
  display: table-cell;
  overflow: hidden;
  width: 50%;
  min-height: 190px;
  margin-bottom: 20px;
  padding: 30px 85px 0 0;
  text-align: left;
  vertical-align: top;
  letter-spacing: .025em;
}
.products-found .product:after {
  position: absolute;
  bottom: 0;
  left: -85px;
  display: block;
  width: 100%;
  height: 1px;
  content: '';
  background: #e1e1e1;
}
.products-found .product .product_t,
.products-found .product .product_abstr {
  display: block;
}
.products-found .product .product_t {
  font-size: 20px;
  margin-bottom: 15px;
}
.products-found .product .product_abstr {
  line-height: 1.2em;
}
.products-found .product .product_read_more {
  position: absolute;
  right: 0;
  bottom: 15px;
  display: inline-block;
  padding-right: 25px;
  color: #f46e3f;
}
.products-found .product .product_read_more:after {
  position: absolute;
  top: 8px;
  right: 0;
  display: block;
  width: 16px;
  height: 11px;
  content: '';
  background: url(img/elements.png) no-repeat -163px 0;
}
.products-found .product.__empty:after {
  display: none;
}
.products-found span {
  display: inline-block;
}
.products-found a {
  position: relative;
  display: block;
  text-decoration: none;
  color: #000;
}
.products-found .product_img,
.products-found .product_txt {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}
.products-found .product_img {
  max-width: 30%;
  max-height: 175px;
  margin-right: 3%;
  margin-bottom: 10px;
}
.products-found .product_img img {
  max-width: 100%;
  max-height: 175px;
}
.products-found .product_txt {
  width: 67%;
  padding-bottom: 42px;
}

.nav-sidebar-bottom {
  margin-bottom: 100px;
}
.nav-sidebar-bottom .column {
  float: left;
  width: 33%;
}
.nav-sidebar-bottom .__middle {
  text-align: center;
}
.nav-sidebar-bottom .__right {
  float: right;
  text-align: right;
}

/* cotaloque list
-----------------------------------------------------------------------------*/
.cataloque {
  margin-bottom: 50px;
}
.cataloque .cataloque_row {
  padding-bottom: 30px;
}
.cataloque .cataloque_row:after {
  font-size: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
  overflow: hidden;
  height: 0;
  content: '';
}
.cataloque .cataloque_item {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  padding-left: 5%;
  font-size: 18px;
  font-size: 1.125rem;
}
.cataloque .cataloque_item:first-child {
  padding-left: 0;
}
.cataloque .cataloque_item .cataloque_item_ico,
.cataloque .cataloque_item .cataloque_item_txt {
  display: inline-block;
  vertical-align: top;
}
.cataloque .cataloque_item .cataloque_item_ico {
  padding-right: 5%;
}
.cataloque .cataloque_item .cataloque_item_t {
  padding-bottom: 5px;
  text-transform: uppercase;
  border-bottom: 1px solid #f46e3f;
}
.cataloque .cataloque_item .cataloque_item_t a {
  display: block;
  text-decoration: none;
  color: #000;
}
.cataloque .cataloque_item .cataloque_item_t a:hover {
  color: #f46e3f;
}
.cataloque .cataloque_item .cataloque_item_list {
  margin: 15px 0;
}
.cataloque .cataloque_item .cataloque_item_list li {
  line-height: 30px;
  line-height: 1.875rem;
}
.cataloque .cataloque_item .cataloque_item_list a {
  text-decoration: none;
  color: #000;
}
.cataloque .cataloque_item .cataloque_item_list a:hover {
  color: #f46e3f;
}
.cataloque .cataloque_item .cataloque_item_hexagon {
  position: relative;
  display: inline-block;
  width: 85px;
  height: 85px;
  text-align: center;
  background: url(img/ico.png) no-repeat 0 0;
}
.cataloque .cataloque_item .cataloque_item_img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  max-width: 100%;
  margin: auto;
}

/* cataloque inner
-----------------------------------------------------------------------------*/
.buttons-grupp {
  font-size: 0;
  margin-bottom: 60px;
}
.buttons-grupp .btn-cat {
  display: inline-block;
  margin-right: 5px;
  padding: 5px 15px;
  cursor: pointer;
  border: 1px solid #888;
  background: #fff;
  font-size: 14px;
  font-size: 0.875rem;
}
.buttons-grupp .btn-cat:hover {
  color: #fff;
  border-color: #f46e3f;
  background: #f46e3f;
}
.buttons-grupp .btn-cat.__active {
  color: #fff;
  border-color: #f46e3f;
  background: #f46e3f;
}
.buttons-grupp .btn-cat.__sale {
  line-height: 16px;
  text-decoration: none;
  color: #000;
}
.buttons-grupp .btn-cat.__sale:hover {
  color: #fff;
  border-color: #8cc63e;
  background: #8cc63e;
}

.cat-options {
  margin-bottom: 20px;
  text-align: left;
  vertical-align: middle;
}
.cat-options .cat-options_item {
  display: inline-block;
  padding-right: 10px;
  font-size: 14px;
  font-size: 0.875rem;
}
.cat-options .cat-options_item label {
  display: block;
}
.cat-options input[type='checkbox'] {
  display: none;
}
.cat-options span {
  position: relative;
  display: inline-block;
  padding-left: 20px;
}
.cat-options input[type='checkbox'] + span:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 12px;
  height: 12px;
  margin: auto;
  content: '';
  border: 1px solid #888;
}
.cat-options input[type='checkbox']:checked + span:before {
  border-color: #f46e3f;
}
.cat-options input[type='checkbox']:checked + span:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 10px;
  height: 10px;
  margin: auto auto auto 2px;
  content: '';
  background: #f46e3f;
}

.cat-list {
  display: table;
  margin-bottom: 50px;
  border-spacing: 15px;
  border-collapse: separate;
  margin-left: -15px;
  margin-right: -15px;
}
.cat-list .cat-row {
  display: table-row;
}
.cat-list .cat-list_item {
  position: relative;
  display: table-cell;
  width: 33%;
  padding: 20px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #d7d7d7;
  font-size: 14px;
  font-size: 0.875rem;
}
.cat-list .cat-list_item:nth-child(3n) {
  margin-right: 0;
}
.cat-list .cat-list_item img {
  max-width: 100%;
  max-height: 260px;
}
.cat-list .cat-list_item .cat-list_t {
  position: relative;
  overflow: hidden;
  height: 100px;
  color: #f46e3f;
  font-size: 20px;
  font-size: 1.25rem;
}
.cat-list .cat-list_item .cat-list_t a {
  text-decoration: none;
}
.cat-list .cat-list_item .cat-list_t:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 65px;
  height: 3px;
  content: '';
  background: #000;
}
.cat-list .cat-list_item .cat-list_abstr {
  line-height: 1.3em;
  overflow: hidden;
  height: 145px;
  padding: 20px 0;
  word-wrap: break-word;
}
.cat-list .cat-list_item .cat-list_sticker {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 1px;
  border: 1px dotted #8cc63e;
  border-radius: 50%;
}
.cat-list .cat-list_item .cat-list_sticker div {
  line-height: 70px;
  width: 70px;
  height: 70px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #8cc63e;
  font-size: 20px;
  font-size: 1.25rem;
}
.cat-list .cat-list_item.__empty {
  border: none;
}
.cat-list .cat-list_item.__img-full {
  text-align: center;
}
.cat-list .cat-list_item.__img-full .cat-list_t,
.cat-list .cat-list_item.__img-full .cat-list_abstr {
  height: auto;
  text-align: left;
}
.cat-list .cat-list_item.__img-left img {
  float: left;
  max-width: 60px;
  margin-right: 20px;
}

.useful-information {
  max-width: 1047px;
  margin: 0 auto;
}

/* slider cataloque
-----------------------------------------------------------------------------*/
.full-width {
  overflow: hidden;
  margin-bottom: 70px;
}
.full-width .note {
  max-width: 1206px;
  margin: 0 auto;
  font-size: 14px;
  font-size: 0.875rem;
}
.full-width .note:before {
  display: inline-block;
  margin-right: 5px;
  content: '*';
  color: #f46e3f;
}
.full-width .note_link {
  display: inline-block;
  margin-left: 50px;
  text-decoration: none;
  color: #000;
  border-bottom: 1px dotted #f46e3f;
}
.full-width .note_link:hover {
  color: #f46e3f;
  border-color: #000;
}

.gallery {
  position: relative;
  max-width: 1206px;
  margin: 45px auto 0;
}
.gallery .gallery_inner {
  position: relative;
  width: 10000px;
  margin-bottom: 70px;
  padding-top: 7px;
  *zoom: 1;
}
.gallery .gallery_inner:after {
  font-size: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
  overflow: hidden;
  height: 0;
  content: '';
}
.gallery .gallery_item {
  position: relative;
  float: left;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 390px;
  height: 325px;
  padding: 20px;
  border-top: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}
.gallery .gallery_item:first-child {
  border-left: 1px solid #d7d7d7;
}
.gallery .gallery_item:before {
  position: absolute;
  top: -7px;
  left: -1px;
  width: 100%;
  height: 5px;
  padding: 0 2px;
  content: '';
  background: #f46e3f;
}
.gallery .gallery_item span {
  display: block;
}
.gallery .gallery_item > a {
  text-decoration: none;
}
.gallery .gallery_title_container {
  word-wrap: break-word;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 20px;
  line-height: 1.25rem;
}
.gallery .gallery_title_container a {
  text-decoration: none;
}
.gallery .gallery_txt {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 16px;
  line-height: 1rem;
}
.gallery .gallery_abstr {
  overflow: hidden;
  max-height: 150px;
  padding: 20px 0;
  word-wrap: break-word;
  color: #0c0c0c;
}
.gallery .gallery_title_container {
  position: relative;
  display: table-cell;
  padding-bottom: 15px;
  vertical-align: middle;
}
.gallery .gallery_title_container:after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 70px;
  height: 3px;
  content: '';
  background: #000;
}
.gallery .gallery_img {
  position: relative;
}
.gallery .gallery_img img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.gallery .__img_v .gallery_img {
  float: left;
  width: 90px;
  height: 100%;
  text-align: center;
}
.gallery .__img_v .gallery_img img {
  max-width: 100%;
}
.gallery .__img_v .gallery_txt {
  padding-left: 100px;
  padding-top: 50px;
}
.gallery .__img_h .gallery_img {
  height: 126px;
  margin-bottom: 20px;
  text-align: center;
}
.gallery .__img_h .gallery_title_container {
  vertical-align: top;
}
.gallery .gallery_btn .gallery_btn_prev,
.gallery .gallery_btn .gallery_btn_next {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  display: block;
  width: 44px;
  height: 44px;
  margin: auto;
  cursor: pointer;
  background: #fff;
}
.gallery .gallery_btn .gallery_btn_prev:hover,
.gallery .gallery_btn .gallery_btn_next:hover {
  background: #f46e3f;
}
.gallery .gallery_btn .gallery_btn_prev:before,
.gallery .gallery_btn .gallery_btn_next:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 44px;
  height: 49px;
  content: '';
  background: url(img/elements.png) no-repeat 0 0;
}
.gallery .gallery_btn .gallery_btn_prev {
  left: -38px;
}
.gallery .gallery_btn .gallery_btn_prev:before {
  background-position: -70px 0;
}
.gallery .gallery_btn .gallery_btn_next {
  right: 26px;
}
.gallery .gallery_btn .gallery_btn_next:before {
  background-position: -115px 0;
}

.gallery_sticker_wr {
  position: absolute;
  right: 28px;
  bottom: -40px;
}

.gallery_sticker {
  float: right;
  width: 74px;
  margin-left: 5px;
  padding: 1px;
  border: 1px dotted #f46e3f;
  border-radius: 50%;
}
.gallery_sticker span {
  line-height: 1.2em;
  display: block;
  width: 70px;
  height: 70px;
  padding: 21px 0 0;
  text-align: center;
  text-transform: lowercase;
  color: #fff;
  border-radius: 50%;
  background: #f46e3f;
  font-size: 12px;
  font-size: 0.75rem;
}

.gallery_sticker.__new span,
.gallery_sticker.__sale span {
  line-height: 70px;
  padding: 0;
}

.gallery_sticker.__new {
  border-color: #e2413e;
}
.gallery_sticker.__new span {
  background: #e2413e;
}

.gallery_sticker.__sale {
  border-color: #8cc63e;
}
.gallery_sticker.__sale span {
  background: #8cc63e;
  font-size: 16px;
  font-size: 1rem;
}

/* news list
-----------------------------------------------------------------------------*/
.news {
  max-width: 1044px;
  margin: 0 auto 60px;
}
.news .h1, .news .h2 {
  margin-bottom: 45px;
}
.news .news_item-wr {
  font-size: 0;
  position: relative;
  text-align: left;
}
.news .news_item-wr.__modified:after {
  display: none;
}
.news .news_item > a, .news .news_item_colored > a,
.news .news_item_colored > a {
  text-decoration: none;
  color: #000;
}
.news .news_item, .news .news_item_colored {
  display: inline-block;
  box-sizing: border-box;
  width: 49.9%;
  transition: opacity .3s;
  vertical-align: top;
}
.news .news_item .news_item_img:after, .news .news_item_colored .news_item_img:after {
  border-bottom: 12px solid #fff;
}
.news .news_item:hover .news_item_img img, .news .news_item_colored:hover .news_item_img img {
  transform: scale(1.1);
}
.news .news_item_img {
  position: relative;
  display: block;
  overflow: hidden;
}
.news .news_item_img img {
  display: block;
  max-width: 100%;
  min-height: 196px;
  transition: transform .5s;
}
.news .news_item_img:before {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: -1px;
  left: 0;
  display: block;
  width: 0;
  height: 0;
  margin: auto;
  content: '';
  border-right: 10px solid transparent;
  border-bottom: 12px solid #fff;
  border-left: 10px solid transparent;
}
.news .news_item.__modified, .news .__modified.news_item_colored {
  font-size: 0;
  width: 100%;
  text-align: left;
}
.news .news_item.__modified .news_item_img, .news .__modified.news_item_colored .news_item_img {
  display: inline-block;
  overflow: hidden;
  width: 49%;
  max-height: 226px;
  vertical-align: top;
}
.news .news_item.__modified .news_item_img:before, .news .__modified.news_item_colored .news_item_img:before {
  top: 0;
  bottom: 0;
  left: auto;
  border-top: 10px solid transparent;
  border-right: 12px solid #fff;
  border-bottom: 10px solid transparent;
  border-left: none;
}
.news .news_item.__modified .news_item_abstr, .news .__modified.news_item_colored .news_item_abstr {
  line-height: 1.5em;
  display: inline-block;
  width: 49%;
  min-height: 0;
  padding-right: 0;
  padding-bottom: 32px;
  vertical-align: top;
}
.news .news_item.__modified .news_item_abstr p, .news .__modified.news_item_colored .news_item_abstr p {
  padding: 0;
}
.news .news_item.__modified .news_item_abstr p:after, .news .__modified.news_item_colored .news_item_abstr p:after {
  bottom: 3px;
}
.news .news_item.__modified .news_item_date, .news .__modified.news_item_colored .news_item_date {
  right: 20px;
  bottom: 5px;
}
.news .news_item_colored {
  background: #eff6f5;
}
.news .news_item_colored .news_item_img:before {
  border-bottom: 12px solid #eff6f5;
}
.news .news_item_colored.__modified.__blue,
.news .news_item.__modified.__blue,
.news .__modified.__blue.news_item_colored {
  background: #eff6f5;
}
.news .news_item_colored.__modified.__blue .news_item_img:before,
.news .news_item.__modified.__blue .news_item_img:before,
.news .__modified.__blue.news_item_colored .news_item_img:before {
  border-right: 12px solid #eff6f5;
}
.news .news_item_colored.__modified:not(.__blue),
.news .news_item.__modified:not(.__blue),
.news .__modified.news_item_colored:not(.__blue) {
  background: #fff;
}
.news .news_item_colored.__modified:not(.__blue) .news_item_img:before,
.news .news_item.__modified:not(.__blue) .news_item_img:before,
.news .__modified.news_item_colored:not(.__blue) .news_item_img:before {
  border-right: 12px solid #fff;
}
.news .news_item_t {
  display: inline-block;
  padding: 0 0 25px;
  text-decoration: none;
  color: #f46e3f;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 26px;
  line-height: 1.625rem;
}
.news .news_item_abstr {
  position: relative;
  min-height: 270px;
  padding: 15px 25px 35px;
  font-size: 14px;
  font-size: 0.875rem;
}
.news .news_item_abstr p {
  position: relative;
}
.news .news_item_abstr p:after {
  position: absolute;
  bottom: 30px;
  display: inline-block;
  width: 18px;
  height: 10px;
  content: ' ';
  background: url(img/elements.png) no-repeat -161px -1px;
}
.news .news_item_date {
  position: absolute;
  right: 25px;
  bottom: 10px;
  text-align: right;
}
.news .news_item_date:after {
  display: none;
}

.news-frame {
  padding: 0 80px;
}

.news-controls {
  margin-bottom: 39px;
}
.news-controls span {
  display: inline-block;
  height: 19px;
  margin-right: 5px;
  cursor: pointer;
  background: url(img/elements.png) no-repeat 0 0;
}
.news-controls .__table {
  width: 19px;
  background-position: -494px -25px;
}
.news-controls .__table:hover, .news-controls .__table.__active {
  background-position: -494px -2px;
}
.news-controls .__list {
  width: 26px;
  background-position: -519px -3px;
}
.news-controls .__list:hover, .news-controls .__list.__active {
  background-position: -519px -26px;
}

.new-inner-photo {
  position: relative;
  margin-bottom: 30px;
}

.new-inner-date {
  position: absolute;
  top: 20px;
  left: -38px;
  width: 77px;
  padding: 20px 0 8px;
  text-align: center;
  color: #fff;
  background: #f46e3f;
  font-size: 12px;
  font-size: 0.75rem;
}
.new-inner-date span {
  display: block;
  margin-bottom: 5px;
  font-size: 36px;
  font-size: 2.25rem;
}

.articles .news_item_t {
  padding: 10px 25px 0;
}
.articles .news_item_abstr {
  min-height: 100%;
}

/* subscribe
-----------------------------------------------------------------------------*/
.subscribe {
  margin-bottom: 90px;
}
.subscribe .subscribe_col_m,
.subscribe .subscribe_col_s {
  float: left;
  vertical-align: top;
}
.subscribe .subscribe_col_m {
  width: 71.55555555555556%;
  position: relative;
}
.subscribe .subscribe_col_s {
  width: 28.44444444444444%;
}
.subscribe .subscribe_t {
  position: relative;
  padding: 30px 0 40px;
  text-align: center;
  text-transform: uppercase;
  color: #f46e3f;
  font-size: 22px;
  font-size: 1.375rem;
}
.subscribe .subscribe_t:before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  width: 120px;
  height: 3px;
  margin: auto;
  content: '';
  background: #000;
}
.subscribe .subscribe_form {
  font-size: 0;
  max-width: 450px;
  margin: 0 auto;
}
.subscribe .subscribe_field {
  font-size: 14px;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 99%;
  height: 40px;
  margin-right: 2px;
  padding: 0 10px;
  border: 1px solid #7a7a7a;
}
.subscribe .subscribe_field::-webkit-input-placeholder {
  font-style: italic;
  color: #848484;
}
.subscribe .subscribe_field::-moz-placeholder {
  font-style: italic;
  color: #848484;
}
.subscribe .subscribe_field:-moz-placeholder {
  font-style: italic;
  color: #848484;
}
.subscribe .subscribe_field:-ms-input-placeholder {
  font-style: italic;
  color: #848484;
}
.subscribe .subscribe_btn {
  font-family: 'gotham-pro', sans-serif;
  font-size: 14px;
  display: block;
  height: 40px;
  padding: 0 15px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border: none;
  border: 3px solid #f46e3f;
  background: none;
  background: #f46e3f;
}
.subscribe .subscribe_btn:hover {
  color: #000;
  background: #fff;
}
.subscribe .form_field_error {
  left: 0;
  width: 99%;
}
.subscribe .form_field_error:after {
  left: 0;
  right: 0;
  margin: auto;
}
.subscribe .subscribe_aftersubmit {
  text-align: center;
  padding: 20px 0;
}
.subscribe .subscribe_aftersubmit span {
  display: block;
  font-size: 13px;
  text-align: center;
}
.subscribe .subscribe_aftersubmit a {
  color: #000;
}

/* footer feedback
-----------------------------------------------------------------------------*/
.feedback {
  font-size: 0;
  max-width: 603px;
  text-align: left;
}
.feedback .feedback_field {
  display: block;
  width: 100%;
  height: 36px;
  background: none;
}
.feedback .feedback_field.__name,
.feedback .feedback_field.__email {
  padding: 10px 5px 10px 45px;
  border: none;
  border-bottom: 1px solid #000;
}
.feedback .feedback_mess {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 99.9%;
  margin: 25px 0 10px;
  padding: 10px 15px;
  border: 1px solid #000;
  background: none;
}
.feedback .feedback_captcha {
  position: relative;
  display: inline-block;
  width: 192px;
  margin-right: 25px;
  padding-right: 30px;
  vertical-align: top;
}
.feedback .feedback_captcha span {
  line-height: 2em;
  display: block;
  color: #a0a0a0;
  font-size: 10px;
  font-size: 0.625rem;
}
.feedback .feedback_captcha_img {
  display: inline-block;
  width: 180px;
  margin-top: 20px;
  margin-left: 15px;
}
.feedback .feedback_field.__captcha {
  display: inline-block;
  width: 175px;
  height: 40px;
  padding: 5px;
  border: 1px solid #a0a0a0;
}
.feedback .btn-reload {
  position: absolute;
  right: -5px;
  bottom: 10px;
  cursor: pointer;
}
.feedback .btn {
  float: right;
  width: 150px;
  height: 40px;
  margin-top: 20px;
  vertical-align: top;
}
.feedback .name_ico,
.feedback .email_ico {
  position: relative;
}
.feedback .name_ico:before,
.feedback .email_ico:before {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 25px;
  height: 25px;
  content: '';
  background: url(img/elements.png) no-repeat 0 0;
}
.feedback .name_ico:before {
  background-position: -457px 0;
}
.feedback .email_ico:before {
  background-position: -458px -24px;
}
.feedback .form_field_error {
  line-height: 1.5em;
  z-index: 1;
  left: 0;
  width: 100%;
  padding: 8px 5px;
}
.feedback .form_field_error:after {
  right: 0;
  left: 0;
  margin: auto;
}
.feedback .feedback_col {
  position: relative;
  display: inline-block;
  width: 100%;
}
.feedback .feedback_col.__col-s {
  position: relative;
  width: 49.9%;
  padding-left: 10px;
}
.feedback .feedback_col.__col-s:first-child {
  padding-right: 10px;
  padding-left: 0;
}
.feedback .feedback_col.__col-s.first {
  padding-right: 10px;
  padding-left: 0;
}
.feedback .form_field {
  position: relative;
  display: block;
}

.feedback_aftersubmit {
  padding: 20px 0;
  text-align: center;
}

/* slider horizontal scroll
-----------------------------------------------------------------------------*/
.partners {
  position: relative;
  height: 118px;
  margin-bottom: 30px;
  padding-top: 10px;
}
.partners:before, .partners:after {
  content: "";
  display: block;
  position: absolute;
  max-width: 1026px;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  box-sizing: border-box;
}
.partners:before {
  height: 1px;
  background: #959595;
  border-left: 64px solid #fff;
  top: 2px;
}
.partners:after {
  height: 5px;
  border-left: 59px solid #f46e3f;
}

.partners.__cat {
  margin-bottom: 80px;
}
.partners.__cat .scroll-img {
  position: relative;
}
.partners.__cat .scroll-img:after {
  content: "";
  position: relative;
  display: block;
  height: 1px;
  width: 1026px;
  background: #e1e1e1;
  margin: 0 auto;
}

.scroll-img {
  overflow: hidden;
  font-size: 0;
  text-align: center;
  width: 100%;
  position: relative;
  height: 118px;
}
.scroll-img ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
.scroll-img ul li {
  margin: 0 5px;
}
.scroll-img ul li .__bw {
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s;
}
.scroll-img ul li:hover .__bw {
  opacity: 0;
}
.scroll-img .brend-logo {
  float: left;
  padding: 0 7px;
  display: block;
}
.scroll-img:after {
  content: "";
  display: table;
  clear: both;
}

.brend-logo-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 212px;
}
.brend-logo-slider:after {
  display: table;
  content: "";
  clear: both;
}
.brend-logo-slider .brend-logo_i {
  float: left;
  position: relative;
  text-align: left;
  padding: 0;
}
.brend-logo-slider .brend-logo {
  display: block;
}
.brend-logo-slider .brend-logo img {
  display: inline-block;
  vertical-align: top;
  max-width: 80%;
}

/* scrolling img
-----------------------------------------------------------------------------*/
.our-partners .simply-scroll-clip,
.our-partners .simply-scroll {
  height: 200px;
}
.our-partners ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.our-partners ul li {
  float: left;
  padding: 0 20px;
}
.our-partners ul li img {
  max-width: 100%;
}
.our-partners .bx-wrapper .bx-prev,
.our-partners .bx-wrapper .bx-next {
  background-image: url(img/elements.png);
  width: 18px;
  height: 12px;
  top: 55%;
}
.our-partners .bx-wrapper .bx-prev:before,
.our-partners .bx-wrapper .bx-next:before {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  left: -4px;
  width: 25px;
  height: 25px;
  border: 1px solid #f46e3f;
}
.our-partners .bx-wrapper .bx-prev {
  background-position: -161px -11px;
  left: -10px;
}
.our-partners .bx-wrapper .bx-prev:hover {
  background-position: -161px -11px;
}
.our-partners .bx-wrapper .bx-next {
  background-position: -161px 1px;
  right: -10px;
}
.our-partners .bx-wrapper .bx-next:hover {
  background-position: -161px 1px;
}
.our-partners .bx-wrapper .bx-next:before {
  top: -7px;
}

.scroll-img-grupp li {
  display: block;
  float: left;
  font-size: 0;
  text-align: left;
}

/* promo section sidebar
-----------------------------------------------------------------------------*/
.sidebar-section {
  margin-bottom: 50px;
}
.sidebar-section img {
  max-width: 100%;
}
.sidebar-section .save-price {
  display: block;
  width: 220px;
  margin: 0 auto;
  color: #fff;
  border-radius: 35px;
  background: #f46e3f;
}
.sidebar-section .save-price:hover {
  color: #000;
  background: #fff;
}

.promo-section {
  background: #f2f2f2;
}
.promo-section .promo-section_txt {
  font-size: 0;
  padding: 10px 0 20px;
  text-align: center;
}
.promo-section .promo-section_txt .num-txt {
  color: #f46e3f;
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 40px;
  line-height: 2.5rem;
}
.promo-section .promo-section_txt .abstr-txt {
  padding-left: 10px;
  font-size: 16px;
  font-size: 1rem;
}
.promo-section .promo-section_txt .abstr-txt span {
  display: block;
  text-align: left;
  font-size: 14px;
  font-size: 0.875rem;
}
.promo-section .promo-section_txt > span {
  display: inline-block;
  vertical-align: middle;
}
.promo-section .promo-section_buttons {
  font-size: 0;
  padding: 0 0 40px;
  text-align: center;
}
.promo-section .promo-section_buttons .btn {
  font-size: 12px;
  font-size: 0.75rem;
  padding: 5px 15px;
}

.news-section {
  padding-bottom: 25px;
  text-align: center;
  background: #eff6f5;
}
.news-section a {
  text-decoration: none;
}
.news-section .news-section_img {
  position: relative;
  display: block;
}
.news-section .news-section_img img {
  max-width: 100%;
}
.news-section .news-section_img:after {
  position: absolute;
  right: 0;
  bottom: 5px;
  left: 0;
  display: block;
  width: 0;
  height: 0;
  margin: auto;
  content: '';
  border-right: 15px solid transparent;
  border-bottom: 12px solid #eff6f5;
  border-left: 15px solid transparent;
}
.news-section .news-section_t {
  display: block;
  padding: 10px 25px 20px;
  text-align: left;
  font-size: 22px;
  font-size: 1.375rem;
}
.news-section .btn {
  padding: 5px 15px;
  font-size: 12px;
  font-size: 0.75rem;
}
.news-section .news-section_abstr {
  line-height: 1.4em;
  position: relative;
  padding: 0 25px 20px;
  text-align: left;
  font-size: 14px;
  font-size: 0.875rem;
}
.news-section .news-section_abstr:after {
  position: absolute;
  bottom: 21px;
  display: inline-block;
  width: 18px;
  height: 15px;
  content: ' ';
  background: url(img/elements.png) no-repeat -161px 0;
}

.news-section.__modiff {
  background: #f2f2f2;
}
.news-section.__modiff .news-section_t {
  line-height: 1.4em;
  padding-bottom: 11px;
}

.brend-section .brend-wr {
  font-size: 0;
  text-align: left;
  vertical-align: top;
  border-left: 1px solid #e1e1e1;
  overflow: hidden;
  position: relative;
}
.brend-section .brend-section_item {
  display: inline-block;
  max-width: 150px;
  padding: 10px;
  vertical-align: top;
}
.brend-section .brend-item {
  display: block;
  float: left;
  width: 300px;
  text-align: left;
  font-size: 0;
}

/* trading card
-----------------------------------------------------------------------------*/
.trading-card {
  font-size: 0;
  text-align: left;
  margin-bottom: 50px;
}
.trading-card .trading-card_col {
  font-size: 16px;
  font-size: 1rem;
  vertical-align: top;
  display: inline-block;
  position: relative;
}
.trading-card .trading-card_col.__col-s {
  margin-right: 30px;
}
.trading-card .trading-card_col.__col-m {
  max-width: 690px;
  width: 100%;
}
.trading-card .trading-card_txt {
  padding: 20px 0 40px;
  line-height: 1.4em;
}
.trading-card .trading-card_sticker,
.trading-card .trading-card_img {
  display: inline-block;
  vertical-align: top;
}
.trading-card .trading-card_sticker {
  width: 81px;
}
.trading-card .trading-card_img {
  max-width: 480px;
  min-width: 230px;
  text-align: center;
}
.trading-card .gallery_sticker {
  position: relative;
  right: 0;
  bottom: 0;
  top: 0;
  width: 74px;
  height: 74px;
  margin: 0 0 5px;
}

.product-characteristics {
  display: table;
  width: 100%;
  margin-bottom: 20px;
}
.product-characteristics .product-characteristics_row {
  display: table-row;
}
.product-characteristics .product-characteristics_row.__title {
  background: #f2f2f2;
}
.product-characteristics .product-characteristics_row.__title .product-characteristics_col {
  border-color: #f2f2f2;
}
.product-characteristics .product-characteristics_col {
  display: table-cell;
  width: 50%;
  text-align: center;
  border-bottom: 1px solid #d7d7d7;
  padding: 10px;
}

.active-sale {
  font-size: 14px;
  font-size: 0.875rem;
  color: #f46e3f;
}
.active-sale span {
  color: #000;
  display: inline-block;
  margin-right: 25px;
}

/* tabs
-----------------------------------------------------------------------------*/
.tabs {
  margin-bottom: 40px;
  max-width: 1040px;
  overflow: hidden;
}
.tabs img {
  max-width: 100%;
}
.tabs .tabs_nav {
  border-bottom: 1px solid #888;
  padding: 0 50px 15px;
  margin-bottom: 25px;
}
.tabs .tabs_nav a {
  text-decoration: none;
  color: #000;
  position: relative;
  margin-right: 145px;
  transition: transform 0.3s;
}
.tabs .tabs_nav a:hover {
  color: #f46e3f;
}
.tabs .tabs_nav a.__active {
  color: #f46e3f;
}
.tabs .tabs_nav a.__active:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -21px;
  margin: auto;
  height: 5px;
  width: 40px;
  background: #f46e3f;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
}

/* promo list
-----------------------------------------------------------------------------*/
.promo-list {
  display: table;
}
.promo-list .promo-list_row {
  display: table-row;
}
.promo-list .promo-list_col {
  position: relative;
  display: table-cell;
  padding-bottom: 24px;
  vertical-align: top;
}
.promo-list .promo-list_col:first-child {
  width: 42%;
  padding-right: 1%;
  border-color: #fff;
}
.promo-list .promo-list_col:first-child:after {
  display: none;
}
.promo-list .promo-list_col:after {
  position: absolute;
  right: 0;
  bottom: 30px;
  display: block;
  width: 100%;
  height: 1px;
  content: '';
  background: #888;
}
.promo-list .promo-list_t {
  display: inline-block;
  padding-bottom: 21px;
  text-decoration: none;
  color: #f46e3f;
  font-size: 22px;
  font-size: 1.375rem;
}
.promo-list .promo-list_t a:hover {
  text-decoration: underline;
}
.promo-list .btn {
  display: block;
  width: 130px;
  margin: 0 auto;
  margin-bottom: 11px;
  padding: 0 15px;
}
.promo-list .btn:hover {
  color: #fff;
  background: #f46e3f;
}
.promo-list .btn-down {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 30px;
  cursor: pointer;
  background: #f46e3f url(img/btn-down.png) no-repeat 0 0;
}
.promo-list .btn-down:hover, .promo-list .btn-down.active {
  background-color: #000;
}
.promo-list .btn-down.active {
  background-position: 0 -34px;
}
.promo-list .btn-down.active:hover {
  background-color: #f46e3f;
}
.promo-list .promo-list_txt {
  position: relative;
  padding-left: 2%;
}
.promo-list .promo-list_abstr {
  padding-bottom: 21px;
}
.promo-list .promo_content {
  display: none;
  padding: 10px 34px 10px 2%;
}

/* question answer
-----------------------------------------------------------------------------*/
.question-answer .question {
  background: #eff6f5;
  padding: 15px 20px;
  border-bottom: 1px solid #000;
}
.question-answer .answer {
  padding: 30px 20px 15px 80px;
}
.question-answer .name {
  color: #f46e3f;
}
.question-answer p {
  padding-bottom: 11px;
}

.question-answer-counter {
  display: inline-block;
  color: #f46e3f;
  margin-right: 20%;
  padding-top: 10px;
}

.question-topics {
  font-size: 0;
  text-align: left;
  margin-bottom: 60px;
}
.question-topics span {
  display: inline-block;
  padding: 0 10px;
  font-size: 14px;
  font-size: 0.875rem;
  border: 1px solid #d7d7d7;
  margin-right: 3px;
  cursor: pointer;
}
.question-topics span:hover, .question-topics span.__selected {
  background: #f46e3f;
  border-color: #f46e3f;
  color: #fff;
}

/* 404 (not found)
-----------------------------------------------------------------------------*/
.notfound-bg {
  min-height: 1401px;
  background: url(img/bgr.jpg) no-repeat 50% 0;
  background-size: auto;
}

.h1-notfound {
  margin: 50px 0 30px;
  color: #f46e3f;
  font-size: 72px;
  font-size: 4.5rem;
  line-height: 40px;
  line-height: 2.5rem;
}

.notfound-message {
  max-width: 816px;
  padding: 10px 19px;
  color: #fff;
  background: #f46e3f;
}

.notfound-note {
  max-width: 816px;
  margin-bottom: 85px;
  padding: 10px 19px;
}

.go-main-page {
  text-decoration: none;
  color: #898989;
  font-size: 14px;
  font-size: 0.875rem;
}
.go-main-page span {
  position: relative;
  color: #000;
}
.go-main-page span:after {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  content: '';
  background: #cbcbcb;
}

.partners-block {
  height: 200px;
}

.partners-gallery {
  position: absolute;
  width: 62%;
  left: 0;
  height: 200px;
}
.partners-gallery:after {
  content: "";
  display: block;
  position: relative;
  width: auto;
  height: 200px;
}
.partners-gallery .gallery_frame {
  float: right;
  position: relative;
  width: 795px;
  padding-left: 7px;
}
.partners-gallery .gallery_inner_wr {
  overflow: hidden;
}
.partners-gallery .partners-gallery_inner {
  width: 100%;
  position: relative;
}
.partners-gallery .partners-gallery_inner:after {
  display: table;
  content: "";
  clear: both;
}
.partners-gallery .partners-gallery_item {
  float: right;
  width: 200px;
}
.partners-gallery .gallery_btn_prev,
.partners-gallery .gallery_btn_next {
  width: 35px;
  height: 35px;
  background: #fff;
  position: absolute;
  top: 42%;
  z-index: 2;
  cursor: pointer;
  display: block;
}
.partners-gallery .gallery_btn_prev:hover,
.partners-gallery .gallery_btn_next:hover {
  background: #f46e3f;
}
.partners-gallery .gallery_btn_prev i,
.partners-gallery .gallery_btn_next i {
  display: block;
  position: absolute;
  background-image: url(img/elements.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.partners-gallery .gallery_btn_prev {
  left: 0;
}
.partners-gallery .gallery_btn_prev i {
  background-position: -75px -5px;
}
.partners-gallery .gallery_btn_next {
  right: 0;
}
.partners-gallery .gallery_btn_next i {
  background-position: -118px -5px;
}

/* contacts
-----------------------------------------------------------------------------*/
.contact-block {
  font-size: 0;
  margin-bottom: 21px;
  text-align: left;
}
.contact-block .col-s,
.contact-block .col-m {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-size: 1rem;
}
.contact-block .col-s p,
.contact-block .col-m p {
  padding: 0;
}
.contact-block .col-s span,
.contact-block .col-m span {
  color: #888;
  font-size: 14px;
  font-size: 0.875rem;
}
.contact-block .col-s {
  padding-right: 5px;
  color: #f46e3f;
}
.contact-block .mailto {
  text-decoration: none;
  color: #000;
}

/* map
-----------------------------------------------------------------------------*/
.map-controls {
  position: relative;
  z-index: 1;
  text-align: center;
  height: 50px;
  line-height: 50px;
  background: #fff;
}
.map-controls span {
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
}
.map-controls span:hover {
  color: #f46e3f;
}
.map-controls span:first-child {
  padding-right: 16px;
  margin-right: 10px;
}
.map-controls span:first-child:after {
  content: "";
  position: absolute;
  top: 1px;
  right: 0;
  background: #000;
  width: 1px;
  height: 14px;
}
.map-controls .__selected:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  margin: auto;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #f46e3f;
  z-index: 5;
}
.map-controls .__selected:first-child:before {
  left: -15px;
}

.map-container {
  height: 540px;
  position: relative;
  background: #d7d7d7;
}

#map-canvas, #map-canvas-footer {
  width: 100%;
  height: 100%;
}

/* form
-----------------------------------------------------------------------------*/
.form-layout {
  position: fixed;
  top: 0;
  right: -684px;
  z-index: 20;
  box-sizing: border-box;
  width: 684px;
  min-height: 100%;
  padding: 80px 118px 40px;
  vertical-align: middle;
  background: url(img/bgr_modal.jpg) no-repeat 0 -70px;
}
.form-layout .form {
  position: relative;
  width: 400px;
  margin: 0 auto;
  text-align: left;
}
.form-layout .form .form_t {
  position: relative;
  margin-bottom: 50px;
  text-transform: uppercase;
  color: #f46e3f;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 30px;
  line-height: 1.875rem;
}
.form-layout .form .form_t:after {
  position: absolute;
  right: 0;
  bottom: 12px;
  left: 0;
  display: block;
  width: 56px;
  height: 3px;
  margin: auto;
  content: '';
  background: #f46e3f;
}
.form-layout .form .form_field {
  position: relative;
  display: block;
  margin-bottom: 15px;
  color: #fefefe;
}
.form-layout .form .form_field input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  color: #fefefe;
  border: none;
  border-bottom: 1px solid #d7d7d7;
  background: none;
}
.form-layout .form .form_field textarea {
  position: relative;
  display: block;
  width: 100%;
  margin: 45px 0 15px;
  padding: 10px 15px;
  color: #fefefe;
  border-color: #d7d7d7;
  background: none;
}
.form-layout .form .form_field .placeholder {
  font-style: italic;
  position: absolute;
  top: 6px;
  left: 15px;
  color: #bcbcbc;
  font-size: 14px;
  font-size: 0.875rem;
}
.form-layout .form .form_field .placeholder:after {
  content: '*';
  color: #f46e3f;
}
.form-layout .form .form_field input:focus + .placeholder,
.form-layout .form .form_field textarea:focus + .placeholder,
.form-layout .form .form_field .placeholder.__hide {
  display: none;
}
.form-layout .form .label-note {
  display: inline-block;
  margin-right: 15px;
}
.form-layout .form .label-note i {
  color: #f46e3f;
}
.form-layout .form .question-type {
  padding: 3px 10px;
  border: 1px solid #d7d7d7;
}
.form-layout .form .captcha {
  font-size: 0;
  position: relative;
  margin: 20px 0 30px;
  text-align: left;
}
.form-layout .form .captcha_img,
.form-layout .form .captcha_enter {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  font-size: 0.875rem;
}
.form-layout .form .captcha_img {
  width: 150px;
  margin-right: 10px;
}
.form-layout .form .captcha_enter {
  width: 235px;
  padding-top: 11px;
}
.form-layout .form .captcha_enter input {
  margin-bottom: 0;
  padding: 10px;
}
.form-layout .form .captcha_enter .placeholder {
  left: 5px;
}
.form-layout .form .captcha_enter .form_field_error {
  left: 48px;
}
.form-layout .form .reload {
  position: absolute;
  top: 20px;
  right: -25px;
  display: block;
  width: 15px;
  height: 19px;
  cursor: pointer;
  border: 0;
  background: url(img/btn-reload.png) no-repeat 0 0;
}

.close-modal {
  position: absolute;
  top: 30px;
  right: 35px;
  display: block;
  cursor: pointer;
  border: 0;
  background: none;
}

.form-aftersubmit {
  margin-top: 110px;
  padding: 0 35px;
  color: #fff;
}
.form-aftersubmit .succes {
  display: block;
  padding-bottom: 21px;
  color: #f46e3f;
  font-size: 22px;
  font-size: 1.375rem;
}

.btn.submit:hover {
  color: #fff;
}

.form_field_error {
  display: none;
  font-size: 10px;
  font-style: italic;
  line-height: 1.5em;
  position: absolute;
  z-index: 10;
  bottom: 100%;
  left: 208px;
  width: 235px;
  margin-bottom: 8px;
  padding: 8px 5px;
  cursor: pointer;
  text-align: center;
  letter-spacing: .025em;
  color: #fff;
  background: #f46e3f;
}
.form_field_error:after {
  position: absolute;
  bottom: -6px;
  left: 14px;
  display: block;
  width: 0;
  height: 0;
  content: '';
  border-top: 8px solid #f46e3f;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

/* slider scroll
-----------------------------------------------------------------------------*/
.slider-scroll {
  position: relative;
}
.slider-scroll .gallery_btn_prev,
.slider-scroll .gallery_btn_next {
  width: 35px;
  height: 35px;
  background: #fff;
  position: absolute;
  top: 22%;
  z-index: 2;
  cursor: pointer;
  display: block;
}
.slider-scroll .gallery_btn_prev i,
.slider-scroll .gallery_btn_next i {
  display: block;
  position: absolute;
  background-image: url(img/elements.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.slider-scroll .gallery_btn_prev {
  left: 0;
}
.slider-scroll .gallery_btn_prev i {
  background-position: -75px -5px;
}
.slider-scroll .gallery_btn_next {
  right: 0;
}
.slider-scroll .gallery_btn_next i {
  background-position: -118px -5px;
}
.slider-scroll .slider-scroll_frame {
  overflow: hidden;
}
.slider-scroll .slider-scroll_inner {
  width: 3000px;
  left: 8.242506811989101%;
  position: relative;
  border: 1px solid red;
}
.slider-scroll .slider-scroll_item {
  float: right;
}

/* users markup
-----------------------------------------------------------------------------*/
.users_markup table {
  width: 100%;
  vertical-align: top;
}
.users_markup table th, .users_markup table td {
  padding: 10px;
  text-align: center;
}
.users_markup table td {
  border-bottom: 1px solid #d7d7d7;
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
}
.users_markup table th {
  border: 0 !important;
}
.users_markup table tr:first-child th,
.users_markup table tr:first-child td {
  background: #f2f2f2;
}
.users_markup table p {
  margin: 0;
  padding: 0;
}

.tabs_item.users_markup table tr:first-child th,
.tabs_item.users_markup table tr:first-child td {
  background: none;
}
.tabs_item.users_markup th, .tabs_item.users_markup td {
  text-align: left;
}

/* product scheme
-----------------------------------------------------------------------------*/
.product-scheme {
  margin: 15px 0 20px;
}
.product-scheme .product-scheme_t {
  font-weight: bold;
  padding-bottom: 30px;
}
.product-scheme img {
  margin: 0 20px 10px -10px;
  cursor: pointer;
}

/* modal gallery
-----------------------------------------------------------------------------*/
.modal-gallery {
  position: fixed;
  z-index: 20;
  top: 0;
  right: -100%;
  overflow-x: hidden;
  overflow-y: scroll !important;
  box-sizing: border-box;
  width: auto;
  height: 100%;
  min-height: 100%;
  padding: 20px 0 20px 50px;
  vertical-align: middle;
  background: #000;
}
.modal-gallery .modal-gallery_t {
  font-size: 18px;
  color: #f46e3f;
}
.modal-gallery .modal-gallery_pic-s {
  font-size: 0;
  margin-bottom: 20px;
}
.modal-gallery .modal-gallery_pic-s a {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: 3px;
  border: 2px solid #000;
}
.modal-gallery .modal-gallery_pic-s a:first-child {
  margin-left: 0;
}
.modal-gallery .modal-gallery_pic-s a img {
  width: 100%;
  height: 100%;
}
.modal-gallery .modal-gallery_pic-s a.active {
  border-color: #f46e3f;
}
.modal-gallery .close-modal {
  top: 20px;
  right: 20px;
}
.modal-gallery .modal-gallery_caption {
  line-height: 1.5em;
  margin-top: 20px;
  color: #fff;
}
.modal-gallery .modal-gallery_caption p {
  margin: 0;
  padding: 0;
}

/* columns inline
-----------------------------------------------------------------------------*/
.columns-inline {
  font-size: 0;
  text-align: left;
  padding: 30px 0;
}
.columns-inline .column {
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
}
.columns-inline .column .h2 {
  text-align: left;
}
.columns-inline .__m {
  width: 49.9%;
  padding-right: 20px;
}

/* tablet
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
  .footer .footer_copyright .wr,
  .footer .footer_info {
    max-width: 918px;
  }

  .footer .footer_table {
    width: 918px;
  }

  .footer .footer_menu {
    margin-right: 70px;
  }

  .content {
    max-width: 918px;
  }

  .content-inner {
    padding: 0 10px;
  }

  .partners.__cat .scroll-img:after {
    width: 918px;
  }
}
/* max-width 1365px
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 1365px) {
  .content-inner .__col-m {
    width: 100%;
  }
  .content-inner .__col-s {
    display: none;
  }

  .header-section:first-child {
    padding-bottom: 13px;
  }
  .header-section .header-section_col {
    margin-left: 35px;
  }
  .header-section .__map-ico {
    padding-right: 40px;
  }

  .header_menu {
    font-size: 12px;
    font-size: 0.75rem;
  }

  .news-frame {
    padding: 0;
  }

  .news .news_item.__modified .news_item_img, .news .__modified.news_item_colored .news_item_img {
    max-height: 234px;
  }

  .partners-gallery {
    width: 100% !important;
    padding-right: 0;
  }
  .partners-gallery .gallery_frame {
    float: none;
    margin: 0 auto;
  }
}
/* media max-widtn 1024px 
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
  .header .header_nav {
    left: -250px;
    width: 190px !important;
    padding: 15px 20px 25px 0;
  }
  .header .header_nav .main-menu a {
    padding: 5px 10px;
    font-size: 15px;
    font-size: 0.9375rem;
  }
}
/* media max-width 1100px
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 1110px) {
  .header .header_sidebar_address {
    padding-right: 0 !important;
  }
  .header .map-ico {
    display: none;
  }
  .header .header_nav {
    top: 0;
    left: -250px;
    position: fixed;
    width: 250px;
    min-height: 100%;
    padding: 75px 10px 70px;
    background: #f46e3f;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
  }
  .header .header_nav .main-menu a {
    font-size: 14px;
    font-size: 0.875rem;
  }
  .header .header_nav .main-menu li {
    border-left: none;
  }
  .header .header_nav .main-menu li:hover:before,
  .header .header_nav .main-menu li.active:before {
    display: none;
  }
  .header .header_nav .main-menu li:hover a,
  .header .header_nav .main-menu li.active a {
    color: #000;
    background: #fff;
  }
}
/* media max-width 1195px;
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 1195px) {
  .header .map-ico {
    display: none;
  }
  .header .header_sidebar {
    width: 918px;
  }
  .header .header_sidebar_col {
    position: relative;
  }
  .header .header_sidebar_col:first-child {
    text-align: left;
  }
  .header .btn-price, .header .btn-call {
    width: 132px;
    position: absolute;
    top: 4px;
    margin-right: 0;
  }
  .header .btn-price {
    right: 20px;
  }
  .header .btn-call {
    left: 10px;
  }
  .header .logo-msservice {
    width: 206px;
    margin-left: 70px;
  }
  .header .mobile-menu-ico {
    left: 54px;
  }

  .useful-information {
    width: 890px;
  }

  .gallery {
    width: 918px;
    margin-top: 19px;
  }
  .gallery .gallery_btn .gallery_btn_prev {
    left: -34px;
  }
  .gallery .gallery_btn .gallery_btn_next {
    right: 41px;
  }

  .news-frame {
    padding: 0;
  }

  .header-section .__map-ico {
    padding-right: 0;
  }

  .header-section,
  .content-inner {
    padding: 0 25px;
  }

  .footer {
    font-size: 12px;
  }
  .footer .footer_copyright {
    font-size: 14px;
  }

  .content {
    width: 918px;
  }

  .feedback .feedback_col.__col-s {
    width: 100%;
    padding: 0;
    margin-top: 5px;
  }
  .feedback .feedback_col.__col-s:first-child {
    margin-top: 0;
  }
  .feedback .feedback_mess {
    margin-top: 30px;
  }
  .feedback .feedback_captcha_img {
    width: 40%;
  }
  .feedback .feedback_captcha {
    width: 58%;
  }
  .feedback .feedback_field.__captcha {
    width: 90%;
  }
  .feedback .btn-reload {
    right: -4px;
  }
  .feedback .btn {
    width: 134px;
    float: none;
    margin-top: 0;
    height: 33px;
    margin: 10px auto 0;
    display: block;
  }

  .footer, .page-layout:after {
    height: 670px;
  }

  .page-layout {
    margin-bottom: -670px;
  }

  .footer.__contacts-modiff,
  .page-layout.__contacts-modiff:after {
    height: 1260px;
  }

  .page-layout.__contacts-modiff {
    margin-bottom: -1260px;
  }
}
/* media min-width 1110px and max-width 1195px
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 1110px) and (max-width: 1195px) {
  .header .header_sidebar_address {
    padding-right: 0;
  }
}
/* media min-width 1196px and max-width 1299px
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 1196px) and (max-width: 1299px) {
  .header .header_sidebar_address {
    padding-right: 60px;
  }
  .header .header_sidebar_col {
    text-align: center;
  }
  .header .btn-price {
    right: -12% !important;
  }
  .header .btn-call {
    right: 6%;
  }
  .header .map-ico {
    right: 20px;
  }
}
@media only screen and (min-width: 1196px) and (max-width: 1366px) {
  .feedback .feedback_captcha_img {
    width: 105px;
    margin-right: 5px;
  }

  .feedback .feedback_field.__captcha {
    width: 150px;
  }

  .feedback .feedback_captcha {
    width: 180px;
  }

  .feedback .btn {
    width: 113px;
  }

  .feedback .btn-reload {
    right: 6px;
  }
}
/* media max-width 1240px
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 1240px) {
  .cat-list {
    border-spacing: 10px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .products-found .product_img {
    max-width: 28%;
  }
}
/* media max-width 1263px
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 1263px) {
  .trading-card .trading-card_col.__col-s {
    margin-right: 0;
  }
  .trading-card .trading-card_img {
    max-width: 510px;
  }
  .trading-card .trading-card_col.__col-m {
    max-width: 855px;
  }
  .trading-card .trading-card_col.__full-txt .trading-card_txt {
    padding: 40px 0;
  }
}
/* media max-width 1264px  1367px
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 1264px) and (max-width: 1367px) {
  .trading-card .trading-card_col.__col-m {
    max-width: 514px;
  }
}
@media only screen and (max-width: 1300px) {
  .header .header_nav {
    left: -250px;
  }

  .mobile-menu-ico {
    top: 15px;
    display: inline-block;
  }

  .header_slider {
    margin-bottom: 40px;
    padding-left: 0;
  }
  .header_slider .bxslider-caption {
    left: 8%;
  }
  .header_slider .bx-pager {
    position: relative;
    bottom: 0;
    left: 5.9%;
    margin-top: 5px;
  }
}
/* media min-width 1365px and max-width 1370px
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 1365px) and (max-width: 1370px) {
  .partners-gallery {
    width: 67%;
  }
}
/* media min-width 1196px and max-width 1627px
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 1196px) and (max-width: 1627px) {
  .header .header_sidebar {
    max-width: 1224px;
  }
  .header .btn-call {
    margin-right: 6%;
  }
  .header .logo-msservice {
    margin-right: 0;
    width: 225px;
  }
  .header .btn-price {
    margin-right: 0;
    right: -5%;
  }
  .header .btn-price, .header .btn-call {
    width: 134px;
  }

  .fixed-block {
    opacity: 0;
    visibility: hidden;
    transform: translateY(87px);
  }
  .fixed-block .header_sidebar_col {
    text-align: center;
  }
  .fixed-block .btn-price {
    right: -10%;
  }
  .fixed-block .btn-call {
    right: 10%;
  }

  .fixed-block.is-visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.4s;
  }

  .useful-information {
    max-width: 730px;
  }

  .gallery {
    width: 890px;
  }
  .gallery .gallery_btn .gallery_btn_prev {
    left: -32px;
  }
  .gallery .gallery_btn .gallery_btn_next {
    right: 15px;
  }

  .news-frame {
    padding: 0 60px;
  }

  .header_sidebar_address {
    padding-right: 40px;
  }

  .content {
    padding: 0;
    width: 890px;
  }

  .trading-card .trading-card_sticker {
    width: 62px;
  }
  .trading-card .trading-card_img {
    max-width: 340px;
  }
  .trading-card .trading-card_col.__col-m {
    max-width: 450px;
  }
}
@media only screen and (min-width: 1301px) and (max-width: 1627px) {
  .header .header_nav {
    left: 10px;
  }
}
@media only screen and (min-width: 1195px) and (max-width: 1300px) {
  .header .header-section,
  .content-inner {
    padding: 0 35px;
  }
}
@media only screen and (min-width: 1301px) and (max-width: 1365px) {
  .content-inner {
    padding: 0 75px;
  }
}
/* media min-width 1196px and max-width 1627px
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 1301px) and (max-width: 1627px) {
  .header_slider {
    margin-bottom: 60px;
    padding-left: 225px;
    padding-left: 14.0625rem;
  }
  .header_slider .bx-pager {
    left: 5%;
  }
}
/* min width 1365 max width 1627
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 1365px) and (max-width: 1627px) {
  .header .fixed-block .header_sidebar {
    padding: 15px 0 10px;
  }
  .header .fixed-block .header_sidebar_col {
    padding-left: 50px;
    padding-right: 50px;
  }
  .header .fixed-block .header_sidebar_col:first-child {
    text-align: left;
  }
  .header .fixed-block .header_sidebar_col .header_sidebar_address {
    padding-right: 40px;
  }
  .header .fixed-block .header_sidebar_col .logo-msservice {
    margin-left: 90px;
  }
  .header .fixed-block .header_sidebar_col .btn-price {
    float: right;
    margin-right: 0;
    right: auto;
  }
  .header .fixed-block .header_sidebar_col .btn-call {
    float: left;
    margin-right: 0;
  }
  .header .fixed-block .mobile-menu-ico {
    left: 114px;
    top: 15px;
  }
}
/* media max-width 1627px
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 1627px) {
  .header .header_sidebar_col {
    font-size: 14px;
  }
  .header .header_sidebar_phn,
  .header .header_sidebar_addr {
    padding: 0;
  }
  .header .map-ico {
    width: 31px;
    height: 31px;
    background-image: url(img/elements_medium.png);
    background-position: -34px 0;
  }
  .header .header_offset_left {
    margin-left: 2.604166666666667%;
  }
  .header .map-ico {
    top: 10px;
  }
  .header .header_nav {
    width: 250px;
  }
  .header .fixed-block .header_nav {
    left: -250px;
  }
  .header .btn-price {
    padding-bottom: 12px;
  }

  .cataloque {
    margin-bottom: 10px;
  }
  .cataloque .cataloque_item .cataloque_item_img {
    max-width: 50px;
    max-height: 50px;
  }

  .promo-btn-simple,
  .promo-btn-bg {
    padding: 5px 0;
  }

  .header_slider .promo-btn-simple,
  .header_slider .promo-btn-bg,
  .btn {
    font-size: 12px;
    line-height: 12px;
  }

  .header_nav .main-menu a {
    font-size: 15px;
  }

  .cataloque .cataloque_item {
    font-size: 16px;
  }

  .cataloque .cataloque_item .cataloque_item_list li {
    line-height: 24px;
  }

  .news {
    margin-bottom: 88px;
  }
  .news .news_item_t {
    font-size: 20px;
    padding: 0 0 15px;
  }
  .news .news_item_abstr {
    font-size: 14px;
    min-height: 220px;
  }
  .news .h1, .news .h2, .news .h2 {
    margin-bottom: 19px;
  }

  .full-width .note {
    pdding-bottom: 38px;
  }

  .h1, .h2, .h2 {
    font-size: 24px;
    line-height: 24px;
  }
  .h1 span:after, .h2 span:after, .h1 span:before, .h2 span:before, .h2 span:after, .h2 span:before {
    top: 10px;
  }

  .h2 {
    font-size: 24px;
    line-height: 24px;
  }
  .h2:after {
    top: 10px;
  }
  .h2:before {
    top: 10px;
  }

  .h3 {
    font-size: 16px;
  }

  .columns-inline .column .h2 {
    font-size: 20px;
  }

  .articles .news_item_t {
    padding: 10px 25px 0;
  }

  .articles .news_item_abstr {
    min-height: 190px;
  }

  .gallery {
    margin-top: 17px;
  }
  .gallery .gallery_title_container {
    font-size: 18px;
  }
  .gallery .gallery_abstr {
    font-size: 12px;
  }

  .gallery_sticker_wr {
    bottom: -30px;
  }

  .trading-card .gallery_sticker {
    width: 62px;
    height: 62px;
  }
  .trading-card .gallery_sticker span {
    font-size: 10px;
    width: 58px;
    height: 58px;
    padding: 18px 0 0;
  }

  .trading-card .gallery_sticker.__new span {
    padding: 0;
  }

  .trading-card .gallery_sticker.__sale span {
    font-size: 16px;
    padding: 0;
  }

  .gallery_sticker {
    width: 62px;
  }
  .gallery_sticker span {
    font-size: 10px;
    width: 58px;
    height: 58px;
    padding: 18px 0 0;
  }

  .gallery_sticker.__new span, .gallery_sticker.__sale span {
    line-height: 62px;
  }

  .sent-question {
    margin: 49px auto 38px;
  }

  .subscribe {
    margin-bottom: 60px;
  }

  .header_slider img {
    height: 462px;
  }
}
/* media min-width 1628px and max-width 1920px
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 1628px) and (max-width: 1920px) {
  .header_slider .bxslider-caption {
    left: 0;
  }

  .news .news_item_img {
    height: 226px;
  }
  .news .news_item_img img {
    height: 100%;
    width: 100%;
  }

  .fixed-block {
    opacity: 0;
    text-align: center;
    visibility: hidden;
    transform: translateY(87px);
  }
  .fixed-block .header_sidebar {
    padding: 15px 0 10px;
  }
  .fixed-block .mobile-menu-ico {
    left: 220px;
    top: 15px;
  }

  .fixed-block.is-visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.4s;
  }
}
/* media min-width 1368px and max-width 1920px
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 1368px) and (max-width: 1627px) {
  .header .header_offset_left {
    margin-left: 2.604166666666667%;
  }

  .news .news_item_img {
    height: 226px;
  }
  .news .news_item_img img {
    height: 100%;
    width: 100%;
  }
}
/* medium-screens
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  .footer .footer_copyright .wr,
  .footer .footer_info {
    max-width: 890px;
  }

  .footer .footer_table {
    width: 890px;
  }

  .footer .footer_menu {
    margin-right: 40px;
  }

  .header-offset-r {
    margin-right: 60px;
    margin-right: 3.75rem;
  }

  .news .news_item.__modified .news_item_t, .news .__modified.news_item_colored .news_item_t {
    padding-bottom: 11px;
    font-size: 20px;
    font-size: 1.25rem;
  }
  .news .news_item.__modified .news_item_img, .news .__modified.news_item_colored .news_item_img {
    max-height: 196px;
  }
  .news .news_item_img {
    max-height: 196px;
  }

  .partners.__cat .scroll-img:after {
    width: 890px;
  }

  .partners:before, .partners:after {
    max-width: 890px;
  }

  .content-inner .__col-s {
    max-width: 300px;
    margin-left: 82px;
  }
}
/* medium-screens-max
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 1366px) {
  .cataloque .cataloque_item .cataloque_item_hexagon {
    width: 76px;
    height: 76px;
    background-image: url(img/ico_medium.png);
  }

  .cataloque .cataloque_item {
    padding-left: 0;
  }

  .feedback .feedback_captcha_img {
    margin-left: 0;
  }
  .feedback .feedback_captcha_img img {
    max-width: 100%;
  }

  .feedback .feedback_captcha {
    margin-right: 0;
    padding-right: 0;
  }

  .search {
    margin-bottom: 70px;
  }

  .full-width {
    margin-bottom: 50px;
  }

  .full-width .note {
    max-width: 890px;
  }

  .gallery .gallery_item {
    width: 281px;
  }
  .gallery .__img_v .gallery_txt {
    padding-left: 80px;
  }
  .gallery .__img_v .gallery_img {
    width: 70px;
  }
  .gallery .__img_h .gallery_img {
    margin-bottom: 10px;
  }

  .header_slider .bxslider-caption {
    width: 100%;
  }

  .header_slider .promo_h1 .txt-big {
    font-size: 110px;
    font-size: 6.875rem;
  }

  .header_slider .promo_h1 .txt-small {
    font-size: 16px;
    font-size: 1rem;
  }

  .header_slider .promo_txt {
    font-size: 42px;
    font-size: 2.625rem;
    line-height: 46px;
    line-height: 2.875rem;
  }

  .header_slider .promo-btns {
    padding-left: 25px;
  }

  .header_slider .promo-btn-simple,
  .header_slider .promo-btn-bg {
    width: 128px;
  }

  .header-section .contact-section {
    font-size: 14px;
    font-size: 0.875rem;
  }

  .promo-section .promo-section_txt .abstr-txt {
    line-height: 1.5em;
    font-size: 12px;
    font-size: 0.75rem;
  }
  .promo-section .promo-section_txt .abstr-txt span {
    font-size: 10px;
    font-size: 0.625rem;
  }
  .promo-section .promo-section_txt .num-txt {
    font-size: 20px;
    font-size: 1.25rem;
  }

  .fix-s {
    width: 730px;
  }

  .tabs {
    max-width: 855px;
  }

  .news-section .news-section_t {
    font-size: 18px;
    font-size: 1.125rem;
  }
}
@media only screen and (min-width: 1920px) {
  .header_slider .bxslider-caption {
    top: 200px;
  }
}
