/* media max-widtn 1024px 
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
	.header{

	    .header_nav{
	        left: -250px;

	        width: 190px!important;
	        padding: 15px 20px 25px 0;
	        .main-menu a{
	            padding: 5px 10px;

	            @include font-size(15);
	        }
	    }
	}
}
