/* media max-width 1240px
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 1240px){
	.cat-list{
	    border-spacing: 10px;
	    margin-left: -10px;
	    margin-right: -10px;
	}
	.products-found .product_img{
		max-width: 28%;
	}
}
