/* min width 1365 max width 1627
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 1365px) and (max-width: 1627px){
	.header{
		.fixed-block{
			.header_sidebar{
				padding: 15px 0 10px;
			}
			.header_sidebar_col{
				padding-left: 50px;
				padding-right: 50px;
				&:first-child{
					text-align: left;
				}
				.header_sidebar_address{
					padding-right: 40px;
				}
				.logo-msservice{
					margin-left: 90px;
				}
				.btn-price{
					float: right;
					margin-right: 0;
					right: auto;
				}
				.btn-call{
					float: left;
					margin-right: 0;
				}
			}
			.mobile-menu-ico{
				left: 114px;
				top: 15px;
			}
		}
	} 
}