/* media min-width 1110px and max-width 1195px
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 1110px) and (max-width: 1195px){
	.header{
		.header_sidebar_address{
			padding-right: 0;
		}
	} 
}

