
/* medium-screens-max
-----------------------------------------------------------------------------*/

@include respond-to(medium-screens-max){

    .cataloque .cataloque_item .cataloque_item_hexagon{
        width: 76px;
        height: 76px;

        background-image: url(img/ico_medium.png);
    }

    .cataloque .cataloque_item{
        padding-left: 0;
    }

    .feedback .feedback_captcha_img{
        margin-left: 0;     
        img{
            max-width: 100%;
        }
    }
    .feedback .feedback_captcha{
        margin-right: 0;
        padding-right: 0;
    }
    .search{
        margin-bottom: 70px;
    }
    .full-width{
        margin-bottom: 50px;
    }
    .full-width .note{
        max-width: 890px;
    }
    .gallery{
        .gallery_item{
            width: 281px;
        }
        .__img_v{
            .gallery_txt{
                padding-left: 80px;
            }
            .gallery_img{
                width: 70px;
            }
        }
        .__img_h{
            .gallery_img{
                margin-bottom: 10px;
            }
        }
    }
    .header_slider .bxslider-caption{
        width: 100%;
    }
    .header_slider .promo_h1 .txt-big{
        @include font-size(110);
    }
    .header_slider .promo_h1 .txt-small{
        @include font-size(16);
    }
    .header_slider .promo_txt{
        @include font-size(42);
        @include rem('line-height',46);
    }
    .header_slider .promo-btns{
        padding-left: 25px;
    }
    .header_slider .promo-btn-simple,
    .header_slider .promo-btn-bg{
        width: 128px;
    }
    .header-section{
        .contact-section{
            @include font-size(14);
        }
    }
    .promo-section{
        .promo-section_txt{
            .abstr-txt{
                line-height: 1.5em;

                @include font-size(12);
                span{
                    @include font-size(10);
                }
            }
            .num-txt{
                @include font-size(20);
            }
        }
    }

    .fix-s{
        width: 730px;
    }
    .tabs{
        max-width: 855px;
    }

    .news-section{
        .news-section_t{
            @include font-size(18);
        }
    }

}


// min-width 1920
@include respond-to(desctop){

    .header_slider .bxslider-caption{
        top: 200px;
    }
}
