/* media min-width 1196px and max-width 1627px
-----------------------------------------------------------------------------*/

@media only screen and (min-width: 1196px) and (max-width: 1627px){
	
	.header{
		.header_sidebar{
			max-width: 1224px;
		}
		.btn-call{
			margin-right: 6%;
		}
		.logo-msservice{
			margin-right: 0;
			width: 225px;
		}
		.btn-price{
			margin-right: 0;
			right: -5%;
		}
		.btn-price, .btn-call{
			width: 134px;
		}
	}
	.fixed-block{

		opacity: 0;
		visibility: hidden;
		transform: translateY(87px);
		.header_sidebar_col{
			text-align: center;
		}
		.btn-price{
			right: -10%;
		}
		.btn-call{
			right: 10%;
		}

	}
	.fixed-block.is-visible{

		visibility: visible;
		opacity: 1;
		transform: translateY(0px);
		transition: all 0.4s;
	
	}

	.useful-information{
	    max-width: 730px;
	}

	.gallery{
	    width: 890px;
	    .gallery_btn{
		    .gallery_btn_prev{
				left: -32px;
		    }
		    .gallery_btn_next{
				right: 15px;
		    }
	    }
	}
	.news-frame{
		padding: 0 60px;
	}
	
	.header_sidebar_address{
		padding-right: 40px;
	}



	.content{
		padding: 0;
		width: 890px;
	}

	.trading-card{
		.trading-card_sticker{
			width: 62px;
		}
		.trading-card_img{
			max-width: 340px;
		}
		.trading-card_col.__col-m{
			max-width: 450px;
		}
	}

}
@media only screen and (min-width: 1301px) and (max-width: 1627px){
	.header .header_nav{
		left: 10px;
	}	
}
@media only screen and (min-width: 1195px) and (max-width: 1300px){
	
	.header .header-section,
	.content-inner{
		padding: 0 35px;
	}
}
@media only screen and (min-width: 1301px) and (max-width: 1365px){
	.content-inner{
		padding: 0 75px;
	}	
}
