/* media max-width 1627px
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 1627px){
	.header{

		.header_sidebar_col{
	        font-size: 14px;
	    }
	    .header_sidebar_phn,
	    .header_sidebar_addr{
	        padding: 0;
	    }
	    .map-ico{
	        width: 31px;
	        height: 31px;

	        background-image: url(img/elements_medium.png);
	        background-position: -34px 0;
	    }

		.header_offset_left{
			margin-left: 2.604166666666667%; // 50px;
		}	   


		.map-ico{
			top: 10px;
		} 
		.header_nav{
			width: 250px;
		}
		.fixed-block{		
			.header_nav{
				left: -250px;
			}		
		}

		.btn-price{
			padding-bottom: 12px;
		}
	}


	.cataloque{
		margin-bottom: 10px;
		.cataloque_item{
			.cataloque_item_img{
				max-width: 50px;
				max-height: 50px;
			}
		}
	}

	.promo-btn-simple,
	.promo-btn-bg{
		padding: 5px 0;
	}

	.header_slider .promo-btn-simple,
	.header_slider .promo-btn-bg,
	.btn{
		font-size: 12px;
		line-height: 12px;
	}

	.header_nav .main-menu a{
		font-size: 15px;
	}

	.cataloque{
		.cataloque_item{
			font-size: 16px;
		}
	} 

	.cataloque .cataloque_item .cataloque_item_list li{
		line-height: 24px;
	}
	.news{
		margin-bottom: 88px;
		.news_item_t{
			font-size: 20px;
			padding: 0 0 15px;
		}
		.news_item_abstr{
			font-size: 14px;
			min-height: 220px;
		}
		.h1, .h2{
			margin-bottom: 19px;
		}
	}
	.full-width .note{
		pdding-bottom: 38px;
	}

	.h1, .h2{
		font-size: 24px;
		line-height: 24px;
		span{
			&:after,
			&:before{
				top: 10px;
			}
		}
	}
	.h2{
		font-size: 24px;
		line-height: 24px;
		&:after{
			top: 10px;
		}
		&:before{
			top: 10px;
		}
	}
	.h3{
		font-size: 16px;
	}
	.columns-inline .column .h2{
		font-size: 20px;
	}
	.articles .news_item_t{
		padding: 10px 25px 0;
	}
	.articles .news_item_abstr{
		min-height: 190px;
	}

	.gallery{
		margin-top: 17px;
		.gallery_title_container{
			font-size: 18px;
		}
		.gallery_abstr{
			font-size: 12px;
		}
	} 
	.gallery_sticker_wr{
		bottom: -30px;
	}
	
	.trading-card .gallery_sticker{
		width: 62px;
		height: 62px;
		span{
			font-size: 10px;
			width: 58px;
			height: 58px;
			padding: 18px 0 0;			
		}
	}
	.trading-card .gallery_sticker.__new{
		span{
			padding: 0;
		}
	}
	.trading-card .gallery_sticker.__sale{
		span{
			font-size: 16px;
			padding: 0;			
		}
	}
	.gallery_sticker{
		width: 62px;
		span{
			font-size: 10px;
			width: 58px;
			height: 58px;
			padding: 18px 0 0;
		}
	}
	.gallery_sticker.__new, .gallery_sticker.__sale{
		span{
			line-height: 62px;
		}
	}
	.sent-question{
		margin: 49px auto 38px;
	}
	.subscribe{
		margin-bottom: 60px;
	}
    .header_slider img{
        height: 462px;
    }
}

