
/* media min-width 1196px and max-width 1299px
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 1196px) and (max-width: 1299px){
	.header{
		.header_sidebar_address{
			padding-right: 60px;
		}
		.header_sidebar_col{
			text-align: center;
		}
		.btn-price{
			right: -12%!important;
		}
		.btn-call{
			right: 6%;
		}
		.map-ico{
			right: 20px;
		}
	} 
}