/* media max-width 1100px
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 1110px){
	.header{
		.header_sidebar_address{
			padding-right: 0!important;
		}
		.map-ico{
			display: none;
		}
	    .header_nav{
	        top: 0;
	        left: -250px;

	        position: fixed;

	        width: 250px;
	        min-height: 100%;
	        padding: 75px 10px 70px;

	        background: $color-template;

	        -moz-box-sizing: border-box;
	             box-sizing: border-box;

	        border: none;
	        .main-menu{
	            a{
	                @include font-size(14);
	            }
	            li{
	                border-left: none;
	            }
	            li:hover:before,
	            li.active:before{
	                display: none;
	            }
	            li:hover a,
	            li.active a{
	                color: $color-txt;
	                background: $color-layout;
	            }
	        }
	    }

	}

}
