/* media max-width 1195px;
-----------------------------------------------------------------------------*/

@media only screen and (max-width: 1195px){

	.header{
        .map-ico{
            display: none;
        }
        .header_sidebar{
            width: 918px;
        }
        .header_sidebar_col{
            position: relative;
            &:first-child{
                text-align: left;
            }
        }

        .btn-price, .btn-call{
            width: 132px;
            position: absolute;
            top: 4px;
            margin-right: 0;
        }
        .btn-price{            
            right: 20px;            
        }
        .btn-call{
            left: 10px;
        }
        .logo-msservice{
            width: 206px;
            margin-left: 70px;
        }
        .mobile-menu-ico{
            left: 54px;
        }
	}


    .useful-information{
        width: 890px;
    }

    .gallery{
        width: 918px;
        margin-top: 19px;
        .gallery_btn{
            .gallery_btn_prev{
                left: -34px;
            }
            .gallery_btn_next{
                right: 41px;
            }
        }
    }
    .news-frame{
        padding: 0;
    }
    .header-section .__map-ico{
        padding-right: 0;
    }
    .header-section,
    .content-inner{
        padding: 0 25px;
    }
    .footer{
        font-size: 12px;
        .footer_copyright{
            font-size: 14px;
        }
    }
    .content{
        width: 918px;
    }

    .feedback{
        .feedback_col.__col-s{
            width: 100%;
            padding: 0;
            margin-top: 5px;
            &:first-child{
                margin-top: 0;
            }
        }
        .feedback_mess{
            margin-top: 30px;
        }
        .feedback_captcha_img{
            width: 40%;
        }
        .feedback_captcha{
            width: 58%;
        }
        .feedback_field.__captcha{
            width: 90%;
        }
        .btn-reload{
            right: -4px;
        }
        .btn {
          width: 134px;
          float: none;
          margin-top: 0;
          height: 33px;
          margin: 10px auto 0;
          display: block;
        }
    } 

    .footer, .page-layout:after{
        height: 670px;
    }
    .page-layout{
        margin-bottom: -670px;
    }
    .footer.__contacts-modiff,
    .page-layout.__contacts-modiff:after{
        height: 1260px;
    }
    .page-layout.__contacts-modiff{
        margin-bottom: -1260px;
    }
}