/* media max-width 1264px  1367px
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 1264px) and (max-width: 1367px){
	.trading-card{
		.trading-card_col.__col-m{
			max-width: 514px;
		}
	}
}