/* media min-width 1365px and max-width 1370px
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 1365px) and (max-width: 1370px){
	.partners-gallery{
		width: 67%;
	}
}