/* media min-width 1195 max-width 1367px
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 1195px) and (max-width: 1367px){
	// .header{
	// 	.header_nav{
	//         left: 10px;

	//         width: 190px;
	//         padding: 15px 20px 25px 0;
	//         .main-menu a{
	//             padding: 5px 10px;

	//             @include font-size(15);
	//         }
	//     }
	// }
}