/* media min-width 1628px and max-width 1920px
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 1628px) and (max-width: 1920px){

	.header_slider{
		.bxslider-caption{
			left: 0;
		}
	}
	.news{
        .news_item_img{
            height: 226px;
            img{
            	height: 100%;
            	width: 100%;
            }
        }		
	}

	.fixed-block{


			opacity: 0;
			text-align: center;
			visibility: hidden;
			transform: translateY(87px);
			.header_sidebar{
				padding: 15px 0 10px;
			}
			.mobile-menu-ico{
				left: 220px;
				top: 15px;
			}


	}
	.fixed-block.is-visible{

			visibility: visible;
			opacity: 1;
			transform: translateY(0px);
			transition: all 0.4s;
		
	}
}