/* media min-width 1196px and max-width 1627px
-----------------------------------------------------------------------------*/

@media only screen and (min-width: 1301px) and (max-width: 1627px){
	.header_slider{
		margin-bottom: 60px;
	    @include rem('padding-left', 225);
		.bx-pager{
			    left: 5%;
		}
	}
}