/* media min-width 1368px and max-width 1920px
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 1368px) and (max-width: 1627px){
	.header{
		.header_offset_left{
			margin-left: 2.604166666666667%; // 50px;
		}
	}
	.news{
        .news_item_img{
            height: 226px;
            img{
            	height: 100%;
            	width: 100%;
            }
        }		
	}
}