
/* medium-screens
-----------------------------------------------------------------------------*/

@include respond-to(medium-screens){
    .footer .footer_copyright .wr,
    .footer .footer_info{
        max-width: 890px;
    }
    .footer .footer_table{
        width: 890px;
    }
    .footer .footer_menu{
        margin-right: 40px;
    }



    .header-offset-r{
        @include rem('margin-right', 60);
    }

    .news{
        .news_item.__modified{
            .news_item_t{
                padding-bottom: 11px;

                @include font-size(20);
            }
            .news_item_img{
                max-height: 196px;
            }
        }
        .news_item_img{
            max-height: 196px;
        }
    }


    .partners.__cat .scroll-img:after{
        width: 890px;
    }
    .partners{
        &:before,
        &:after{
            max-width: 890px;
        }
    }

    .content-inner{
        .__col-s{
            max-width: 300px;
            margin-left: 82px;
        }
    }

}
