// media max-width 1300px

@media only screen and (max-width: 1300px){
	.header{
        .header_nav{
            left: -250px;            
        }
    }
    .mobile-menu-ico{
        top: 15px;

        display: inline-block;
    }

    .header_slider{
        margin-bottom: 40px;
        padding-left: 0;

        .bxslider-caption{
            left: 8%;
        }

        .bx-pager{
            position: relative;
            bottom: 0;
            left: 5.9%;

            margin-top: 5px;
        }
    }
}