/* media max-width 1263px
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 1263px){

	.trading-card{
		.trading-card_col.__col-s{
			margin-right: 0;
		}
		.trading-card_img{
			max-width: 510px;
		}
	    .trading-card_col.__col-m{
	        max-width: 855px;
	    }

		.trading-card_col.__full-txt{
			.trading-card_txt{
				padding: 40px 0;
			}
		}
	}


}