@media only screen and (min-width: 1196px) and (max-width: 1366px){
    .feedback .feedback_captcha_img{
        width: 105px;
        margin-right: 5px;
    }
    .feedback .feedback_field.__captcha{
        width: 150px;
    }
    .feedback .feedback_captcha{
        width: 180px;
    }
    .feedback .btn{
        width: 113px;
    }
    .feedback .btn-reload{
        right: 6px;
    }
}