/* tablet
-----------------------------------------------------------------------------*/

@include respond-to(tablet){
    .footer .footer_copyright .wr,
    .footer .footer_info{
        max-width: 918px;
    }
    .footer .footer_table{
        width: 918px;
    }
    .footer .footer_menu{
        margin-right: 70px;
    }

    .content{
        max-width: 918px;
    }
    .content-inner{
        padding: 0 10px;
    }

    .partners.__cat .scroll-img:after{
        width: 918px;
    }
}


/* max-width 1365px
-----------------------------------------------------------------------------*/

@include respond-to(medium){
    .content-inner{
        .__col-m{
            width: 100%;
        }
        .__col-s{
            display: none;
        }
    }
    .header-section{
        &:first-child{
            padding-bottom: 13px;
        }
        .header-section_col{
            margin-left: 35px;
        }
        .__map-ico{
            padding-right: 40px;
        }
    }
    .header_menu{
        @include font-size(12);
    }
    .news-frame{
        padding: 0;
    }
    .news{
        .news_item.__modified{
            .news_item_img{
                max-height: 234px;
            }
        }
    }

    .partners-gallery{
        width: 100%!important;
        padding-right: 0;
        .gallery_frame{
            float: none;
            margin: 0 auto;
        }
    }
}
