/* clear
-----------------------------------------------------------------------------*/
*{
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a img{
    border: none;
}
a:focus,
input:focus,
button:focus,
textarea:focus,
select:focus{
    outline: none;
}

.clearfix{
    outline: medium none;

    *zoom: 1;
    &:after{
        font-size: 0;
        line-height: 0;

        display: block;
        visibility: hidden;
        clear: both;
        overflow: hidden;

        height: 0;

        content: '';
    }
}
input:focus,
textarea:focus{
    outline: none;
}


/* typography
-----------------------------------------------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Raleway:600);

@include font-face('gotham-pro', 'gotham-pro-regular', 'gotham-pro', 'sans-serif');

body{
    letter-spacing: .025em;

    color: $color-txt;
    background: $color-layout;

    @extend %gotham-pro;
    @include font-size(16);
    @include rem('line-height',24);
}

a{
    outline: none;
}

ul li{
    @include rem('line-height',24);
}

input,
textarea,
select{
    @extend %gotham-pro;
}

p{
    padding-bottom: 21px;
}

.btn{
    @extend %gotham-pro;
}

.h1{
    text-align: center;
    text-transform: uppercase;

    @include font-size(30);
    @include rem('line-height', 40);
    span{
        position: relative;

        display: inline-block;
        &:before,
        &:after{
            position: absolute;
            top: 16px;

            display: block;

            width: 60px;
            height: 5px;

            content: '';

            background: $color-template;
        }
        &:before{
            left: -70px;
        }
        &:after{
            right: -70px;
        }
    }
}
.h1.__modiff{
    position: relative;

    margin-bottom: 30px;
    padding-left: 70px;

    text-align: left;
    &:after{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;

        display: block;

        width: 59px;
        height: 5px;
        margin: auto;

        content: '';

        background: $color-template;
    }
}
.h2{
    margin-bottom: 21px;

    @extend .h1;
    @include font-size(22);
    @include rem('line-height', 40);
}

.h3{
    position: relative;

    margin-bottom: 21px;
    padding: 0;

    text-transform: uppercase;

    @include font-size(18);
    @include rem('line-height', 40);
    &:before{
        position: absolute;
        top: 5px;
        left: -25px;

        display: block;

        width: 10px;
        height: 29px;

        content: '';

        background: $color-template;
    }
    .prim{
        &:before{
            content: '*';

            color: $color-template;
        }
    }
    a{
        text-decoration: none;

        color: $color-txt;
    }
}
.simple-title{
    padding: 10px 0 0;

    text-transform: uppercase;

    color: $color-template;
}

.nav-t{
    margin-bottom: 20px;
    padding-bottom: 10px;

    text-transform: uppercase;

    border-bottom: 1px solid;
}

a{
    color: $color-template;
}

.stylized-list{
    margin-bottom: 21px;
    li:before{
        content: ' - ';
    }
}

.txt-uppercase{
    text-transform: uppercase;
}

/* sticky footer
-----------------------------------------------------------------------------*/
html,
body{
    height: 100%;
}

body{
    min-width: 1024px;
}

.page-layout{
    min-height: 100%;
    margin-bottom: -576px;
    padding-bottom: 100px;
}
.page-layout.__contacts-modiff{
    margin-bottom: -1166px;
}
.page-layout:after{
    display: block;

    content: '';
}
.footer,
.page-layout:after{
    height: 576px;
}
.footer.__contacts-modiff,
.page-layout.__contacts-modiff:after{
    height: 1166px;
}
.footer{
    position: relative;

    background: $color-footer-right-col;

    @include font-size(14);
    &:before{
        position: absolute;
        top: 0;
        left: 0;

        display: block;

        width: 50%;
        height: 100%;

        content: '';

        background: $color-footer-left-col;
    }
    .footer_table{
        position: relative;

        display: table;

        width: 1206px;
        height: 420px;
        margin: 0 auto;
    }
    .footer_row{
        display: table-row;
    }
    .footer_col{
        display: table-cell;
        float: left;

        -moz-box-sizing: border-box;
             box-sizing: border-box;
        width: 50%;
        padding: 60px 0 0 40px;

        vertical-align: top;
        &:first-child{
            padding-right: 40px;
            padding-left: 0;
        }

        .h3{
            margin-left: 25px;
        }
    }
    .footer_col_wr{
        text-align: left;
    }

    .footer_col_s{
        display: inline-block;

        padding-right: 20px;

        text-align: left;
    }
    .footer_menu{
        margin-right: 130px;
        li{
            padding-bottom: 5px;
        }
        a{
            text-decoration: none;
            text-transform: uppercase;

            color: $color-txt;
        }
        li.active a,
        a:hover{
            color: $color-template;
        }
    }
    .footer_contact_info{
        margin-bottom: 30px;
    }
    .footer_contact_info a{
        font-weight: bold;

        text-decoration: none;

        color: $color-txt;
    }
    .footer_copyright{
        position: absolute;
        bottom: 40px;
        left: 0;
        width: 100%;
        
        height: 40px;

        .wr{
            position: relative;
            max-width: 1206px;
            margin: 0 auto;
        }
        span{
            font-weight: bold;

            position: relative;
            top: 3px;

            display: inline-block;

            margin-right: 25px;

            @include font-size(24);
        }
    }
    .mediahero{
        line-height: 40px;

        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 40px;

        text-align: right;

        color: #fff;
        background: #000;
    }
    .footer_info{
        max-width: 1206px;
        margin: 0 auto;
    }
    .logo-mh{
        position: relative;
        top: -16px;

        display: inline-block;
        float: right;

        width: 170px;
        height: 40px;

        background: url(img/elements.png) no-repeat -222px -5px;
    }
    .footer-txt{
        font-size: 0;

        margin-bottom: 30px;
        padding-top: 20px;

        text-align: center;
        vertical-align: top;
        .footer-txt_col{
            line-height: 1.5em;

            display: inline-block;

            padding: 0 0 0 40px;

            vertical-align: middle;

            @include font-size(14);
            &:first-child{
                width: 40%;
                padding-left: 0;
            }
            &:nth-child(2){
                width: 60%;

                text-align: left;

                border-left: 1px solid $color-txt;
            }
            p{
                padding: 10px 0;
            }
        }
        .footer-contact_phn{
            display: block;
        }
    }
}






/* header 
-----------------------------------------------------------------------------*/

.header{
    position: relative;
    .header_sidebar{
        font-size: 0;
        // max-width: 1340px;

        max-width: 1456px;
        min-width: 918px;
        margin: 0 auto;
        padding: 25px 0 10px;

        text-align: right;
        // display: table;
    }
    .header_sidebar_col{
        width: 49.9%;
        display: inline-block;
        // display: table-cell;

        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;

        vertical-align: top;

        font-size: 16px;
    }
    // .logo-msservice{
    //     float: left;
    //     display: block;
    // }
    .header_sidebar_phone,
    .header_sidebar_address{
        display: inline-block;

        vertical-align: top;
    }
    .header_sidebar_phone{
        position: relative;

        padding-right: 15px;
        &:after{
            position: absolute;
            top: 45%;
            right: 0;

            display: block;

            width: 50px;
            height: 1px;

            content: '';
            transform: translateX(26px) rotate(90deg);

            background: $color-gray-light;
        }
    }
    .header_sidebar_address{
        position: relative;

        padding: 0 60px 0 15px;
    }
    .header_sidebar_phn{
        display: block;

        padding: 1px 0 5px;

        text-align: right;
        i{
            font-style: normal;

            color: $color-gray;
        }
    }
    .header_sidebar_addr{
        display: block;

        padding: 1px 0 5px;

        text-align: left;
    }
    .logo-msservice{
        top: 0;
        margin-right: 12%;

        text-decoration: none;
        display: inline-block;
        img{
            width: 100%;
            max-width: 280px;
        }
    }
    .map-ico{
        position: absolute;
        top: 0;
        right: 0;

        display: inline-block;

        width: 30px;
        height: 44px;

        cursor: pointer;

        background: url(img/elements.png) no-repeat -40px 0;
    }
    .btn-price, .btn-call{
        position: relative;
        top: 4px;
        height: 37px;
    }

    .btn-call{
        margin-right: 16%;
        width: 160px;
        padding: 0;
    }
    .btn-price{
        margin-right: 6%;
        height: 37px;
        width: 158px;
        // padding-top: 10px;
    }
    .header-section{
        .logo-msservice{
            margin: 0;
        }
        .btn-price{
            position: relative;
            top: 0;
        }
    }
}

.header-section{
    font-size: 0;

    position: relative;

    box-sizing: border-box;
    min-width: 1024px;
    max-width: 1456px;
    margin: 0 auto;
    padding: 0 75px;

    text-align: right;
    border-top: 1px solid $color-head-divider;
    &:first-child{
        height: 80px;

        border-top: none;
    }
    .header_logo{
        position: relative;
        top: 20px;
        float: left;
    }
    .header-section_col{
        display: inline-block;

        margin-left: 45px;

        vertical-align: middle;

        @include font-size(14);
        &:first-child{
            margin-left: 0;
        }
    }
    .contact-section{
        position: relative;

        display: inline-block;

        padding: 10px 0;

        @include font-size(16);
        .contact-section_phn{
            i{
                color: $color-gray;
            }
        }
        .contact-section_addr{
            @include font-size(14);
        }
        .map-ico{
            top: -5px;

            width: 31px;
            height: 31px;

            background-image: url(img/elements_medium.png);
            background-position: -34px 0;
        }
    }
    .__map-ico{
        position: relative;

        padding: 0 40px;
        &:before{
            position: absolute;
            top: 2px;
            left: 20px;

            display: block;

            width: 1px;
            height: 19px;

            content: '';

            background: $color-gray-superlight;
        }
    }
    .btn-inline{
        margin-right: 15px;
    }

}

.header_menu{
    line-height: 80px;

    height: 80px;

    @include font-size(15);
    a{
        position: relative;

        display: inline-block;

        margin: 0 5px;

        text-decoration: none;
        text-transform: uppercase;

        color: $color-txt;
        &:hover,
        &.active{
            color: $color-template;
        }
        &:hover:after,
        &.active:after{
            position: absolute;
            right: 0;
            bottom: -3px;
            left: 0;
            z-index: 2;

            display: block;

            width: 35px;
            height: 5px;
            margin: auto;

            content: '';

            border-right: 4px solid $color-layout;
            border-left: 4px solid $color-layout;
            background: $color-template;
        }
    }
}




/* main menu
-----------------------------------------------------------------------------*/

.header_nav{
    position: absolute;
    z-index: 2;
    top: 35px;
    left: 28px;

    width: 280px;
    padding: 25px 60px 35px 0;

    border: 5px solid $color-template;
    .main-menu{
        li{
            position: relative;

            border-left: 5px solid $color-layout;
        }
        a{
            display: block;

            padding: 5px 15px;

            text-decoration: none;
            text-transform: uppercase;
            word-wrap: break-word;

            color: $color-txt;

            @include font-size(18);
        }
        li:hover a,
        li.active a{
            color: $color-layout;
            background: $color-template;
        }
        li:hover:before,
        li.active:before{
            position: absolute;
            top: 0;
            left: -10px;

            display: block;

            width: 5px;
            height: 100%;

            content: '';

            background: $color-layout;
        }
    }
}



.mobile-menu-ico{
    font-size: 0;

    position: absolute;
    z-index: 5;
    top: 21px;
    left: 40px;

    display: none;

    width: 47px;
    height: 47px;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;

    border: none;
    outline: none;
    background: $color-template;
    &:focus{
        outline: none;
    }
    span{
        position: relative;

        display: inline-block;

        width: 22px;
        height: 5px;

        background: #fff;
        &:after,
        &:before{
            position: absolute;
            left: 0;

            display: block;

            width: 22px;
            height: 4px;

            content: '';

            background: #fff;
        }
        &:after{
            top: -8px;
        }
        &:before{
            bottom: -8px;
        }
    }
}

/* btn
-----------------------------------------------------------------------------*/
.btn{
    display: inline-block;

    box-sizing: border-box;
    padding: 8px 15px;

    cursor: pointer;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    word-wrap: break-word;

    color: $color-txt;
    border: 3px solid $color-template;
    background: none;

    @include font-size(14);
    &:hover{
        color: $color-layout;
        background: $color-template;
    }
}

.btn-price{
    position: relative;

    padding: 12px 18px 14px 33px;

    color: $color-layout;
    border: none;
    background: $color-template;

    line-height: 14px;
    &:hover{
        border-color: $color-template-dark;
        &:after{
            background: #000;
        }
    }
    &:before{
        position: absolute;
        top: 10px;
        left: 15px;

        display: inline-block;

        width: 18px;
        height: 14px;

        content: '';

        background: url(img/elements.png) no-repeat 0 0;
    }
    &:after{
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 6px;

        content: '';

        background: $color-template-dark;
    }
}
.btn-call{
    &:hover{
        color: $color-layout;
        border-color: $color-template;
        background: $color-template;
    }
}

.price-list{
    position: relative;

    text-align: center;
    &:before{
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 1px;
        margin: auto;

        content: '';

        background: $color-gray-light;
    }
}

.btn-price-circle{
    line-height: 1.2em;

    width: 130px;
    height: 130px;

    color: $color-layout;
    border: 5px solid $color-gray-light;
    border-radius: 50%;
    background: $color-template;
    &:hover{
        border-color: #858585;
    }
    &:before{
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: 150px;
        height: 150px;
        margin: auto;

        content: '';

        border-radius: 50%;
        background: $color-layout;
    }
    i{
        display: block;

        width: 40px;
        height: 30px;
        margin: 15px auto 10px;

        content: '';

        background: url(img/elements.png) no-repeat scroll 0 -15px;
    }
}

.btn-default{
    color: $color-layout;
    background: $color-template;
    &:hover{
        color: $color-txt;
        background: none;
    }
}

.btn-scroll-top{
    position: absolute;
    top: -50px;
    right: 0;
    left: 0;

    display: block;

    width: 65px;
    height: 65px;
    margin: auto;

    cursor: pointer;
    transition: opacity .1s;
    text-align: center;
    vertical-align: middle;

    border: none;
    background: #000;
    &:after{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: 21px;
        height: 13px;
        margin: auto;

        content: '';

        background: url(img/elements.png) no-repeat -162px -23px;
    }
    &:focus{
        outline: none;
    }
    &:hover{
        background: $color-template;
    }
}

.__contacts-modiff .btn-scroll-top{
    z-index: 5;
    top: 540px;
}

.btn-reload{
    display: inline-block;

    width: 20px;
    height: 19px;

    vertical-align: baseline;

    border: none;
    background: url(img/btn-reload.gif) no-repeat 0 0;
}

.btn-inline{
    display: inline-block;

    cursor: pointer;

    border: none;
    border-bottom: 1px dotted $color-template;
    background: none;
    &:hover{
        color: $color-template;
        border-color: $color-txt;
    }
}

.btn-down{
    display: block;

    width: 34px;
    height: 34px;

    text-decoration: none;

    outline: none;
    &:focus{
        outline: none;
    }
}

.btn-center{
    display: block;

    width: 160px;
    margin: 0 auto;
}

/* grid
-----------------------------------------------------------------------------*/
.header-offset-r{
    @include rem('margin-right', 90);
}

.offset-bottom-8{
    margin-bottom: 80px;
}

.content{
    max-width: 1209px;
    margin: 0 auto;
}

.fix-block{
    max-width: 1456px;
    margin: 0 auto;
}

.content-inner{
    padding-top: 50px;
    padding-left: 8.242506811989101%;
    .content-inner_col{
        float: left;
    }
    .__col-m{
        width: 795px;
    }
    .__col-s{
        max-width: 420px;
        margin-left: 80px;
    }
}

.img-center{
    margin-bottom: 50px;
    img{
        max-width: 100%;
    }
}

.fix-s{
    width: 1047px;
    margin: 0 auto;
    .news .news_item_abstr p:after{
        bottom: 25px;
    }
}

.border-frame{
    width: 595px;
    margin: 30px auto 80px;
    padding: 20px 0;

    text-align: center;

    border-top: 1px solid $color-gray-superlight;
    border-bottom: 1px solid $color-gray-superlight;
    .border-frame_t{
        @include font-size(22);
    }
}

.responsive-img{
    max-width: 100%;
}

.txt-center{
    text-align: center;
}

/* sent-question
-----------------------------------------------------------------------------*/

.sent-question{
    position: relative;

    width: 690px;
    height: 235px;
    margin: 45px auto 90px;

    text-align: center;

    background: url(img/bgr_question.jpg) no-repeat 0 0;
    .sent-question_t{
        margin-bottom: 45px;
        padding-top: 70px;

        text-transform: uppercase;

        @include font-size(22);
    }
    &:after{
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: -10px;

        width: 710px;
        height: 255px;
        margin: auto;

        content: '';

        background: $color-layout;
    }
    &:before{
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: -35px;

        display: block;

        width: 750px;
        height: 126px;
        margin: auto;

        content: '';

        border: 5px solid $color-template;
    }
}


/* breadcrumbs
-----------------------------------------------------------------------------*/

.breadcrumbs{
    margin-bottom: 30px;

    @include font-size(14);
    @include rem('line-height', 40);
    a{
        position: relative;

        margin-right: 20px;

        text-decoration: none;

        color: $color-txt;
        &:before{
            position: absolute;
            bottom: -2px;
            left: 1px;

            display: block;

            width: 100%;
            height: 1px;

            content: '';

            background: $color-txt;
        }
        &:after{
            position: absolute;
            top: 4px;
            right: -15px;

            display: block;

            width: 5px;
            height: 10px;

            content: '';

            background: url(img/elements.png) no-repeat -192px -40px;
        }
    }
    .divider{
        color: $color-breadcrumbs;
    }
}

/* map
-----------------------------------------------------------------------------*/
.modal-map{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    visibility: hidden;
    overflow: hidden;

    width: 100%;
    height: 100%;

    text-align: center;
}
.modal-map:before{
    display: inline-block;

    height: 100%;

    content: '';
    vertical-align: middle;
}
.modal-map.__visible{
    visibility: visible;
}
.__overflow{
    overflow: hidden;
}
.map-layout{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    #map-canvas{
        position: relative;

        width: 100%;
        height: 100%;
    }
    .close-modal{
        z-index: 20;
    }
}

/* fixed block
-----------------------------------------------------------------------------*/
.fixed-block{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    width: 100%;

    background: #fff;
    box-shadow: 0 0 10px -3px #000;
    .mobile-menu-ico{
        display: inline-block;
    }
    .header_nav{
        top: 0;
        left: -280px;

        padding: 75px 10px 70px;

        border: none;
        background: $color-template;
        .main-menu{
            li{
                border-left: none;
            }
            li:hover:before,
            li.active:before{
                display: none;
            }
            li:hover a,
            li.active a{
                color: $color-txt;
                background: $color-layout;
            }
        }
    }
}

/* fo bitrix
-----------------------------------------------------------------------------*/

div[id^='bx_incl_area']{
    display: inline;
}

/* brend-logo
-----------------------------------------------------------------------------*/

.brend-logo{
    position: relative;
    .__bw{
        position: absolute;
        z-index: 1;

        transition: opacity .3s;

        opacity: 1;
        &:hover{
            opacity: 0;
        }
    }
}

/*---------------------------------------------------------------------------*/

.is-static{
    position: static;
}

/*---------------------------------------------------------------------------*/