$color-txt: #000;
$color-layout: #fff;
$color-template: #f46e3f;
$color-template-superlight: #fce0d8;
$color-template-dark: #cb562d;
$color-gray: #888;
$color-gray-light: #e1e1e1;
$color-gray2: #4d4d4d;
$color-input: #7a7a7a;
$color-footer-left-col: #f2f2f2;
$color-footer-right-col: #eff6f5;
$color-news-bg: #eff6f5;
$color-scrollbar: #959595;
$color-gray-superlight: #d7d7d7;
$color-gray-dark: #0c0c0c;
$color-head-divider: #000;
$color-breadcrumbs: #d3d3d3;
$color-sticker-new: #e2413e;
$color-sticker-sale: #8cc63e;
$color-link-gomainpage: #898989;
$color-link-gomainpage2: #cbcbcb;
$color-form-txt: #fefefe;
$color-form-placeholder: #bcbcbc;

