@mixin font-face($style-name, $file, $family, $category:"") {
    $filepath: "fonts/" + $family + "/" + $file;
    @font-face {
        font-family: "#{$style-name}";
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
             url($filepath + ".woff") format('woff'),
             url($filepath + ".ttf") format('truetype');
    }
    %#{$style-name} {
        font: {
            @if $category != "" {
                family: "#{$style-name}", #{$category};
            }
            @else {
                family: "#{$style-name}";
                weight: normal;
            }
        }
    }
}

@mixin font-size($sizeValue: 16){
    font-size: ($sizeValue) + px;
    font-size: ($sizeValue / 16) + rem;
}

@mixin rem($prop, $sizeValue: 16){
    #{$prop}: ($sizeValue) + px;
    #{$prop}: ($sizeValue / 16) + rem;
}


@mixin respond-to($media) {
  @if $media == tablet {
    @media only screen and (max-width: $small) { @content; }
  }
  @if $media == tablet-xl {
    @media only screen and (max-width: $small-l) { @content; }
  }
  @if $media == medium {
    @media only screen and (max-width: $medium) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $small + 1) and (max-width: $large - 1) { @content; }
  }
  @else if $media == medium-screens-max {
    @media only screen and (max-width: $large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $large) { @content; }
  }
  @else if $media == desctop {
    @media only screen and (min-width: $desctop) { @content; }
  }
}