/* cotaloque list
-----------------------------------------------------------------------------*/
.cataloque{
    margin-bottom: 50px;
    .cataloque_row{
        padding-bottom: 30px;
        &:after{
            font-size: 0;
            line-height: 0;

            display: block;
            visibility: hidden;
            clear: both;
            overflow: hidden;

            height: 0;

            content: '';
        }
    }
    .cataloque_item{
        float: left;

        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        width: 50%;
        padding-left: 5%;

        @include font-size(18);
        &:first-child{
            padding-left: 0;
        }
        .cataloque_item_ico,
        .cataloque_item_txt{
            display: inline-block;

            vertical-align: top;
        }
        .cataloque_item_ico{
            padding-right: 5%;
        }
        .cataloque_item_t{
            padding-bottom: 5px;

            text-transform: uppercase;

            border-bottom: 1px solid $color-template;
            a{
                display: block;

                text-decoration: none;

                color: $color-txt;
                &:hover{
                    color: $color-template;
                }
            }
        }
        .cataloque_item_list{
            margin: 15px 0;
            li{
                @include rem('line-height', 30);
            }
            a{
                text-decoration: none;

                color: $color-txt;
                &:hover{
                    color: $color-template;
                }
            }
        }


        .cataloque_item_hexagon{
            position: relative;

            display: inline-block;

            width: 85px;
            height: 85px;

            text-align: center;

            background: url(img/ico.png) no-repeat 0 0;
        }
        .cataloque_item_img{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            display: block;

            max-width: 100%;
            margin: auto;
        }
    }
}
