/* cataloque inner
-----------------------------------------------------------------------------*/

.buttons-grupp{
    font-size: 0;

    margin-bottom: 60px;
    .btn-cat{
        display: inline-block;

        margin-right: 5px;
        padding: 5px 15px;

        cursor: pointer;

        border: 1px solid $color-gray;
        background: $color-layout;

        @include font-size(14);
        @extend %gotham-pro;
        &:hover{
            color: $color-layout;
            border-color: $color-template;
            background: $color-template;
        }
        &.__active{
            color: $color-layout;
            border-color: $color-template;
            background: $color-template;
        }

    }
    .btn-cat.__sale{
        line-height: 16px;

        text-decoration: none;

        color: $color-txt;
        &:hover{
            color: $color-layout;
            border-color: $color-sticker-sale;
            background: $color-sticker-sale;
        }
    }
}

.cat-options{
    margin-bottom: 20px;

    text-align: left;
    vertical-align: middle;
    .cat-options_item{
        display: inline-block;

        padding-right: 10px;

        @include font-size(14);
        label{
            display: block;
        }
    }
    input[type='checkbox']{
        display: none;
    }
    span{
        position: relative;

        display: inline-block;

        padding-left: 20px;
    }
    input[type='checkbox'] + span:before{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;

        display: block;

        width: 12px;
        height: 12px;
        margin: auto;

        content: '';

        border: 1px solid $color-gray;
    }
    input[type='checkbox']:checked + span:before{
        border-color: $color-template;
    }
    input[type='checkbox']:checked + span:after{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;

        display: block;

        width: 10px;
        height: 10px;
        margin: auto auto auto 2px;

        content: '';

        background: $color-template;
    }
}

.cat-list{
    display: table;

    margin-bottom: 50px;

    border-spacing: 15px;
    border-collapse: separate;

    margin-left: -15px;
    margin-right: -15px;
    .cat-row{
        display: table-row;
    }
    .cat-list_item{
        position: relative;

        display: table-cell;

        width: 33%;
        padding: 20px;

        text-align: left;
        vertical-align: top;

        border: 1px solid $color-gray-superlight;

        @include font-size(14);
        &:nth-child(3n){
            margin-right: 0;
        }
        img{
            max-width: 100%;
            max-height: 260px;
        }
        .cat-list_t{
            position: relative;

            overflow: hidden;

            height: 100px;

            color: $color-template;

            @include font-size(20);
            a{
                text-decoration: none;
            }
            &:after{
                position: absolute;
                bottom: 0;
                left: 0;

                width: 65px;
                height: 3px;

                content: '';

                background: $color-txt;
            }
        }
        .cat-list_abstr{
            line-height: 1.3em;

            overflow: hidden;

            height: 145px;
            padding: 20px 0;

            word-wrap: break-word;
        }
        .cat-list_sticker{
            position: absolute;
            right: 20px;
            bottom: 20px;

            padding: 1px;

            border: 1px dotted $color-sticker-sale;
            border-radius: 50%;
            div{
                line-height: 70px;

                width: 70px;
                height: 70px;

                text-align: center;

                color: $color-layout;
                border-radius: 50%;
                background: $color-sticker-sale;

                @include font-size(20);
            }
        }
    }
    .cat-list_item.__empty{
        border: none;
    }
    .cat-list_item.__img-full{
        text-align: center;
        .cat-list_t,
        .cat-list_abstr{
            height: auto;

            text-align: left;
        }
    }
    .cat-list_item.__img-left{
        img{
            float: left;

            max-width: 60px;
            margin-right: 20px;
        }
    }
}

.useful-information{
    max-width: 1047px;
    margin: 0 auto;
}
