/* columns inline
-----------------------------------------------------------------------------*/
.columns-inline{
	font-size: 0;
	text-align: left;
	padding: 30px 0;

	.column{
		display: inline-block;
		font-size: 16px;
		vertical-align: top;

		.h2{
			text-align: left;
		}
	}
	.__m{
		width: 49.9%;
		padding-right: 20px;
	}
}