/* contacts
-----------------------------------------------------------------------------*/
.contact-block{
    font-size: 0;

    margin-bottom: 21px;

    text-align: left;
    .col-s,
    .col-m{
        display: inline-block;

        vertical-align: top;

        @include font-size(16);
        p{
            padding: 0;
        }
        span{
            color: $color-gray;

            @include font-size(14);
        }
    }
    .col-s{
        padding-right: 5px;

        color: $color-template;
    }
    .mailto{
        text-decoration: none;

        color: $color-txt;
    }
}
