/* footer feedback
-----------------------------------------------------------------------------*/
.feedback{
    font-size: 0;

    max-width: 603px;

    text-align: left;
    .feedback_field{
        display: block;

        width: 100%;
        height: 36px;

        background: none;
    }
    .feedback_field.__name,
    .feedback_field.__email{
        padding: 10px 5px 10px 45px;

        border: none;
        border-bottom: 1px solid #000;
    }
    .feedback_mess{
        display: block;

        -moz-box-sizing: border-box;
             box-sizing: border-box;
        width: 99.9%;
        margin: 25px 0 10px;
        padding: 10px 15px;

        border: 1px solid #000;
        background: none;
    }
    .feedback_captcha{
        position: relative;

        display: inline-block;

        width: 192px;
        margin-right: 25px;
        padding-right: 30px;

        vertical-align: top;
        span{
            line-height: 2em;

            display: block;

            color: #a0a0a0;

            @include font-size(10);
        }
    }
    .feedback_captcha_img{
        display: inline-block;

        width: 180px;
        margin-top: 20px;
        margin-left: 15px;
    }
    .feedback_field.__captcha{
        display: inline-block;

        width: 175px;
        height: 40px;
        padding: 5px;

        border: 1px solid #a0a0a0;
    }
    .btn-reload{
        position: absolute;
        right: -5px;
        bottom: 10px;

        cursor: pointer;
    }
    .btn{
        float: right;

        width: 150px;
        height: 40px;
        margin-top: 20px;

        vertical-align: top;
    }
    .name_ico,
    .email_ico{
        position: relative;
        &:before{
            position: absolute;
            top: 5px;
            left: 10px;

            width: 25px;
            height: 25px;

            content: '';

            background: url(img/elements.png) no-repeat 0 0;
        }
    }
    .name_ico:before{
        background-position: -457px 0;
    }
    .email_ico:before{
        background-position: -458px -24px;
    }
    .form_field_error{
        line-height: 1.5em;

        z-index: 1;
        left: 0;

        width: 100%;
        padding: 8px 5px;
        &:after{
            right: 0;
            left: 0;

            margin: auto;
        }
    }
    .feedback_col{
        position: relative;

        display: inline-block;

        width: 100%;
    }
    .feedback_col.__col-s{
        position: relative;

        width: 49.9%;
        padding-left: 10px;
        &:first-child{
            padding-right: 10px;
            padding-left: 0;
        }
    }
    .feedback_col.__col-s.first{
        padding-right: 10px;
        padding-left: 0;
    }
    .form_field{
        position: relative;

        display: block;
    }
}

.feedback_aftersubmit{
    padding: 20px 0;

    text-align: center;
}
