/* form
-----------------------------------------------------------------------------*/

.form-layout{
    position: fixed;
    top: 0;
    right: -684px;
    z-index: 20;

    box-sizing: border-box;
    width: 684px;
    min-height: 100%;
    padding: 80px 118px 40px;

    vertical-align: middle;

    background: url(img/bgr_modal.jpg) no-repeat 0 -70px;
    .form{
        position: relative;

        width: 400px;
        margin: 0 auto;

        text-align: left;
        .form_t{
            position: relative;

            margin-bottom: 50px;

            text-transform: uppercase;

            color: $color-template;

            @include font-size(22);
            @include rem('line-height', 30);
            &:after{
                position: absolute;
                right: 0;
                bottom: 12px;
                left: 0;

                display: block;

                width: 56px;
                height: 3px;
                margin: auto;

                content: '';

                background: $color-template;
            }
        }
        .form_field{
            position: relative;

            display: block;

            margin-bottom: 15px;

            color: $color-form-txt;
            input{
                display: block;

                width: 100%;
                padding: 10px 15px;

                color: $color-form-txt;
                border: none;
                border-bottom: 1px solid $color-gray-superlight;
                background: none;
            }
            textarea{
                position: relative;

                display: block;

                width: 100%;
                margin: 45px 0 15px;
                padding: 10px 15px;

                color: $color-form-txt;
                border-color: $color-gray-superlight;
                background: none;
            }
            .placeholder{
                font-style: italic;

                position: absolute;
                top: 6px;
                left: 15px;

                color: $color-form-placeholder;

                @include font-size(14);
                &:after{
                    content: '*';

                    color: $color-template;
                }
            }
            input:focus + .placeholder,
            textarea:focus + .placeholder,
            .placeholder.__hide{
                display: none;
            }
        }
        .label-note{
            display: inline-block;

            margin-right: 15px;
            i{
                color: $color-template;
            }
        }
        .question-type{
            padding: 3px 10px;

            border: 1px solid $color-gray-superlight;
        }
        .captcha{
            font-size: 0;

            position: relative;

            margin: 20px 0 30px;

            text-align: left;
        }
        .captcha_img,
        .captcha_enter{
            display: inline-block;

            vertical-align: top;

            @include font-size(14);
        }
        .captcha_img{
            width: 150px;
            margin-right: 10px;
        }
        .captcha_enter{
            width: 235px;
            padding-top: 11px;
            input{
                margin-bottom: 0;
                padding: 10px;
            }
            .placeholder{
                left: 5px;
            }
            .form_field_error{
                left: 48px;
            }
        }
        .reload{
            position: absolute;
            top: 20px;
            right: -25px;

            display: block;

            width: 15px;
            height: 19px;

            cursor: pointer;

            border: 0;
            background: url(img/btn-reload.png) no-repeat 0 0;
        }
    }
}

.close-modal{
    position: absolute;
    top: 30px;
    right: 35px;

    display: block;

    cursor: pointer;

    border: 0;
    background: none;
}

.form-aftersubmit{
    margin-top: 110px;
    padding: 0 35px;

    color: $color-layout;
    .succes{
        display: block;

        padding-bottom: 21px;

        color: $color-template;

        @include font-size(22);
    }
}

.btn.submit{
    &:hover{
        color: #fff;
    }
}

.form_field_error{
    display: none;

    font-size: 10px;
    font-style: italic;
    line-height: 1.5em;

    position: absolute;
    z-index: 10;
    bottom: 100%;
    left: 208px;

    width: 235px;
    margin-bottom: 8px;
    padding: 8px 5px;

    cursor: pointer;
    text-align: center;
    letter-spacing: .025em;

    color: #fff;
    background: #f46e3f;
    &:after{
        position: absolute;
        bottom: -6px;
        left: 14px;

        display: block;

        width: 0;
        height: 0;

        content: '';

        border-top: 8px solid #f46e3f;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
    }
}
