.partners-block{
	height: 200px;
}
.partners-gallery{
	position: absolute;
	width: 62%;
	left: 0;
	height: 200px;
	&:after{
		content: "";
		display: block;
		position: relative;
		width: auto;
		height: 200px;
	}

    .gallery_frame {
    	float: right;
        position: relative;
        width: 795px;
        padding-left: 7px;
    }
	.gallery_inner_wr{
		overflow: hidden;
	}
	.partners-gallery_inner{
		width: 100%;
		position: relative;

		&:after{
			display: table;
			content: "";
			clear: both;
		}
	}
	.partners-gallery_item{
		float: right;
		width: 200px;
	}
	.gallery_btn_prev,
	.gallery_btn_next{
		width: 35px;
		height: 35px;
		background: #fff;
		position: absolute;
		top: 42%;
		z-index: 2;
		cursor: pointer;
		display: block;
		&:hover{
			background: $color-template;
		}
		i{
			display: block;
			position: absolute;
			background-image: url(img/elements.png);
            width: 100%;
            height: 100%;
			background-repeat: no-repeat;
		}
	}
	.gallery_btn_prev{

		left: 0;
		i{
			background-position: -75px -5px;			
		}
	}
	.gallery_btn_next{
		right: 0;
		i{
			background-position: -118px -5px;			
		}
	}
}