/* header blocks
-----------------------------------------------------------------------------*/
.header{

	.header_phone{
		margin-left: 2.604166666666667%; // 50px;
	}
	.header_offset_left{
		margin-left: 4.947916666666667%; // 95px;		
	}

}