/* map
-----------------------------------------------------------------------------*/

.map-controls{
	position: relative;
	z-index: 1;
	text-align: center;
	height: 50px;
	line-height: 50px;
	background: $color-layout;
    span{
    	position: relative;
    	text-transform: uppercase;
    	cursor: pointer;
        &:hover{
            color: $color-template;
        }
    	&:first-child{
			padding-right: 16px;
			margin-right: 10px;
    	}
	    &:first-child:after{
			content: "";
			position: absolute;
			top: 1px;
			right: 0;
			background: $color-txt;
			width: 1px;
			height: 14px;
		}
    }
    .__selected{
    	&:before{
    		content: "";
    		display: block;
    		position: absolute;
    		bottom: -25px;
    		left: 0;
    		right: 0;
    		margin: auto;
    		width: 14px;
    		height: 14px;
    		border-radius: 50%;
    		background: $color-template;
    		z-index: 5;
    	}
    }
    .__selected:first-child{
    	&:before{
    		left: -15px;
    	}
    }
}
.map-container{
	height: 540px;
	position: relative;
	background: $color-gray-superlight;
}
#map-canvas{
	width: 100%;
	height: 100%;
}
#map-canvas-footer{
    @extend #map-canvas;
}