/* modal gallery
-----------------------------------------------------------------------------*/
.modal-gallery{
    position: fixed;
    z-index: 20;
    top: 0;
    right: -100%;

    overflow-x: hidden;
    overflow-y: scroll!important;

    box-sizing: border-box;
    width: auto;
    height: 100%;
    min-height: 100%;
    padding: 20px 0 20px 50px;

    vertical-align: middle;

    background: $color-txt;
    .modal-gallery_t{
        font-size: 18px;

        color: $color-template;
    }
    .modal-gallery_pic-s{
        font-size: 0;

        margin-bottom: 20px;
        a{
            display: inline-block;
            position: relative;

            width: 50px;
            height: 50px;
            margin-left: 3px;

            border: 2px solid $color-txt;
            &:first-child{
                margin-left: 0;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
        a.active{
            border-color: $color-template;
        }
    }
    .close-modal{
        top: 20px;
        right: 20px;
    }
    .modal-gallery_caption{
        line-height: 1.5em;

        margin-top: 20px;

        color: $color-layout;
        p{
            margin: 0;
            padding: 0;
        }
    }
}
