/* news list
-----------------------------------------------------------------------------*/
.news{
    max-width: 1044px;
    margin: 0 auto 60px;
    .h1{
        margin-bottom: 45px;
    }
    .news_item-wr{
        font-size: 0;

        position: relative;

        text-align: left;
    }
    .news_item-wr.__modified:after{
        display: none;
    }
    .news_item,
    .news_item_colored{
        > a{
            text-decoration: none;

            color: $color-txt;
        }
    }
    .news_item{
        display: inline-block;

        box-sizing: border-box;
        width: 49.9%;

        transition: opacity .3s;
        vertical-align: top;
        .news_item_img:after{
            border-bottom: 12px solid $color-layout;
        }
        &:hover{
            .news_item_img{
                img{
                    transform: scale(1.1);
                }
            }
        }
    }
    .news_item_img{
        position: relative;

        display: block;
        overflow: hidden;
        img{
            display: block;

            max-width: 100%;
            min-height: 196px;

            transition: transform .5s;
        }
        &:before{
            position: absolute;
            z-index: 2;
            right: 0;
            bottom: -1px;
            left: 0;

            display: block;

            width: 0;
            height: 0;
            margin: auto;

            content: '';

            border-right: 10px solid transparent;
            border-bottom: 12px solid #fff;
            border-left: 10px solid transparent;
        }
    }
    .news_item.__modified{
        font-size: 0;

        width: 100%;

        text-align: left;
        .news_item_img{
            display: inline-block;
            overflow: hidden;

            width: 49%;
            max-height: 226px;

            vertical-align: top;
            &:before{
                top: 0;
                bottom: 0;
                left: auto;

                border-top: 10px solid transparent;
                border-right: 12px solid $color-layout;
                border-bottom: 10px solid transparent;
                border-left: none;
            }
        }
        .news_item_abstr{
            line-height: 1.5em;

            display: inline-block;

            width: 49%;
            min-height: 0;
            padding-right: 0;
            padding-bottom: 32px;

            vertical-align: top;
            p{
                padding: 0;
                &:after{
                    bottom: 3px;
                }
            }
        }
        .news_item_date{
            right: 20px;
            bottom: 5px;
        }
    }
    .news_item_colored{
        background: $color-news-bg;

        @extend .news_item;
        .news_item_img:before{
            border-bottom: 12px solid $color-news-bg;
        }
    }
    .news_item_colored.__modified.__blue,
    .news_item.__modified.__blue{
        background: $color-news-bg;
        .news_item_img:before{
            border-right: 12px solid $color-news-bg;
        }
    }
    .news_item_colored.__modified:not(.__blue),
    .news_item.__modified:not(.__blue){
        background: $color-layout;
        .news_item_img:before{
            border-right: 12px solid $color-layout;
        }
    }
    .news_item_t{
        display: inline-block;

        padding: 0 0 25px;

        text-decoration: none;

        color: $color-template;

        @include font-size(22);
        @include rem('line-height',26);
    }
    .news_item_abstr{
        position: relative;

        min-height: 270px;
        padding: 15px 25px 35px;

        @include font-size(14);
        p{
            position: relative;
        }
        p:after{
            position: absolute;
            bottom: 30px;

            display: inline-block;

            width: 18px;
            height: 10px;

            content: ' ';

            background: url(img/elements.png) no-repeat -161px -1px;
        }
    }
    .news_item_date{
        position: absolute;
        right: 25px;
        bottom: 10px;

        text-align: right;
        &:after{
            display: none;
        }
    }
}
.news-frame{
    padding: 0 80px;
}
.news-controls{
    margin-bottom: 39px;
    span{
        display: inline-block;

        height: 19px;
        margin-right: 5px;

        cursor: pointer;

        background: url(img/elements.png) no-repeat 0 0;
    }
    .__table{
        width: 19px;

        background-position: -494px -25px;
        &:hover,
        &.__active{
            background-position: -494px -2px;
        }
    }
    .__list{
        width: 26px;

        background-position: -519px -3px;
        &:hover,
        &.__active{
            background-position: -519px -26px;
        }
    }
}

.new-inner-photo{
    position: relative;

    margin-bottom: 30px;
}
.new-inner-date{
    position: absolute;
    top: 20px;
    left: -38px;

    width: 77px;
    padding: 20px 0 8px;

    text-align: center;

    color: $color-layout;
    background: $color-template;

    @include font-size(12);
    span{
        display: block;

        margin-bottom: 5px;

        @include font-size(36);
    }
}

.articles{
    .news_item_t{
        padding: 10px 25px 0;
    }
    .news_item_abstr{
        min-height: 100%;
    }
}
