/* 404 (not found)
-----------------------------------------------------------------------------*/

.notfound-bg{
    min-height: 1401px;

    background: url(img/bgr.jpg) no-repeat 50% 0;
    background-size: auto;
}

.h1-notfound{
    margin: 50px 0 30px;

    color: $color-template;

    @include font-size(72);
    @include rem('line-height', 40);
}

.notfound-message{
    max-width: 816px;
    padding: 10px 19px;

    color: $color-layout;
    background: $color-template;
}
.notfound-note{
    max-width: 816px;
    margin-bottom: 85px;
    padding: 10px 19px;
}

.go-main-page{
    text-decoration: none;

    color: $color-link-gomainpage;

    @include font-size(14);
    span{
        position: relative;

        color: $color-txt;
        &:after{
            position: absolute;
            bottom: -1px;
            left: 0;

            width: 100%;
            height: 1px;

            content: '';

            background: $color-link-gomainpage2;
        }
    }
}
