/* partners static
-----------------------------------------------------------------------------*/

.partners-static{
	text-align:left;
	font-size: 0;

	.str_wrap{
		height: 125px!important;
	}

	.partners-static_item{
		display: inline-block;
		margin-left: 6.281407035175879%; // 50/796
		&:first-child{
			margin-left: 0;
		}
		img{
			max-width: 100%;
		}
	}
}