/* product scheme
-----------------------------------------------------------------------------*/
.product-scheme{
	margin: 15px 0 20px;
	.product-scheme_t{
		font-weight: bold;
		padding-bottom: 30px;
	}
	img{
		margin: 0 20px 10px -10px;
		cursor: pointer;
	}
}