/* promo list
-----------------------------------------------------------------------------*/

.promo-list{
    display: table;
    .promo-list_row{
        display: table-row;
    }
    .promo-list_col{
        position: relative;

        display: table-cell;

        padding-bottom: 24px;

        vertical-align: top;
        &:first-child{
            width: 42%;
            padding-right: 1%;

            border-color: $color-layout;
            &:after{
                display: none;
            }
        }
        &:after{
            position: absolute;
            right: 0;
            bottom: 30px;

            display: block;

            width: 100%;
            height: 1px;

            content: '';

            background: $color-gray;
        }
    }
    .promo-list_t{
        display: inline-block;

        padding-bottom: 21px;

        text-decoration: none;

        color: $color-template;

        @include font-size(22);
        a:hover{
            text-decoration: underline;
        }
    }
    .btn{
        display: block;

        width: 130px;
        margin: 0 auto;
        margin-bottom: 11px;
        padding: 0 15px;
        &:hover{
            color: $color-layout;
            background: $color-template;
        }
    }
    .btn-down{
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 30px;

        cursor: pointer;
        background: $color-template url(img/btn-down.png) no-repeat 0 0;
        &:hover,
        &.active{
        	background-color: #000;
        }
        &.active{
        	background-position: 0 -34px;
        }
        &.active:hover{
        	background-color: $color-template;
        }
    }
    .promo-list_txt{
        position: relative;

        padding-left: 2%;
    }
    .promo-list_abstr{
        padding-bottom: 21px;
    }
    .promo_content{
    	display: none;
    	padding: 10px 34px 10px 2%;
    }
}
