/* question answer
-----------------------------------------------------------------------------*/

.question-answer{
	.question{
		background: $color-news-bg;
		padding: 15px 20px;
		border-bottom: 1px solid $color-txt;
	}
	.answer{
		padding: 30px 20px 15px 80px;
	}
	.name{
		color: $color-template;
	}
	p{
		padding-bottom: 11px;
	}
}

.question-answer-counter{
	display: inline-block;
	color: $color-template;
	margin-right: 20%;
	padding-top: 10px;
}

.question-topics{
	font-size: 0;
	text-align: left;
	margin-bottom: 60px;
	span{
		display: inline-block;
		padding: 0 10px;
		@include font-size(14);
		border: 1px solid $color-gray-superlight;
		margin-right: 3px;
		cursor:pointer;
		&:hover,
		&.__selected{
			background: $color-template;
			border-color: $color-template;
			color: $color-layout;
		}
	}
}