/* scrolling img
-----------------------------------------------------------------------------*/

.our-partners{
	.simply-scroll-clip,
	.simply-scroll{
		height: 200px;
	}

	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			float: left;
			padding: 0 20px;
			img{
				max-width: 100%;
			}
		}
	}

	.bx-wrapper .bx-prev,
	.bx-wrapper .bx-next{
		background-image: url(img/elements.png);
        width: 18px;
        height: 12px;
        top: 55%;
        &:before{
        	content: "";
        	display: block;
        	position: absolute;
        	top: -8px;
        	left: -4px;
        	width: 25px;
        	height: 25px;
        	border: 1px solid $color-template;
        }
	}
	.bx-wrapper .bx-prev{
		background-position: -161px -11px;
		left: -10px;
		&:hover{
			background-position: -161px -11px;
		}
	}
	.bx-wrapper .bx-next{
		background-position: -161px 1px;
		right: -10px;
		&:hover{
			background-position: -161px 1px;
		}
		&:before{
			top: -7px;
		}
	}
}

.scroll-img-grupp{
	li{
		display: block;
		float: left;
		font-size: 0;
		text-align: left;
	}
}