/* search
-----------------------------------------------------------------------------*/
.search{
    margin-bottom: 90px;
    .search_col_m,
    .search_col_s{
        float: left;
    }
    .search_col_s{
        width: 11.60862354892206%;
    }
    .search_col_m{
        width: 88.39137645107794%;
    }
}

.search.__cat{
    margin: 30px 0 20px;
}

.search_form{
    font-size: 0;

    width: 100%;

    text-align: left;
    .search_field{
        display: inline-block;

        box-sizing: border-box;
        width: 100%;
        height: 47px;
        padding: 0 15px;

        vertical-align: top;

        color: #505050;
        border: 2px solid #898989;
        border-right: 0;

        @include font-size(14);
        &:focus{
            outline: none;
        }
        &::-webkit-input-placeholder{
            font-style: italic;

            color: #505050;
        }
        &::-moz-placeholder{
            font-style: italic;

            color: #505050;
        }
        &:-moz-placeholder{
            font-style: italic;

            color: #505050;
        }
        &:-ms-input-placeholder{
            font-style: italic;

            color: #505050;
        }
    }
    .search_btn{
        display: inline-block;

        box-sizing: border-box;
        width: 100%;
        height: 47px;

        cursor: pointer;
        text-align: center;
        vertical-align: top;

        border: 2px solid $color-template;
        background: $color-template;
        &:hover{
            border-color: $color-template-dark;
            background: $color-template-dark;
        }
        &:after{
            position: relative;
            top: 1px;

            display: inline-block;

            width: 32px;
            height: 32px;

            content: '';

            background: url(img/elements.png) no-repeat -187px 0;
        }
    }
}


.search-t{
    color: $color-template;

    @include font-size(22);
}

.search-result{
    padding-bottom: 100px;
    .search-message{
        padding: 50px 0;

        text-align: center;
    }
    .search-message_t{
        color: $color-template;
    }
    .go-cat{
        position: relative;

        padding-bottom: 1px;

        text-decoration: none;

        border-bottom: 1px solid $color-template-superlight;
        span{
            color: $color-template;
        }
        i{
            font-style: none;

            position: absolute;
            left: -20px;

            color: $color-template;
        }
    }
    .go-cat-wr{
        max-width: 335px;
        margin: 20px auto 0;
        padding-top: 25px;

        border-top: 1px solid $color-scrollbar;
    }
}

.search-count-mess{
    font-size: 14px;

    color: $color-gray2;
}

.products-found{
    display: table;

    width: 100%;
    margin: 20px 0 40px;
    .product-row{
        display: table-row;
    }
    .product{
        font-size: 0;

        position: relative;

        display: table-cell;
        overflow: hidden;

        width: 50%;
        min-height: 190px;
        margin-bottom: 20px;
        padding: 30px 85px 0 0;

        text-align: left;
        vertical-align: top;
        letter-spacing: .025em;
        &:after{
            position: absolute;
            bottom: 0;
            left: -85px;

            display: block;

            width: 100%;
            height: 1px;

            content: '';

            background: $color-gray-light;
        }
        .product_t,
        .product_abstr{
            display: block;
        }
        .product_t{
            font-size: 20px;

            margin-bottom: 15px;
        }
        .product_abstr{
            line-height: 1.2em;
        }
        .product_read_more{
            position: absolute;
            right: 0;
            bottom: 15px;

            display: inline-block;

            padding-right: 25px;

            color: $color-template;
            &:after{
                position: absolute;
                top: 8px;
                right: 0;

                display: block;

                width: 16px;
                height: 11px;

                content: '';

                background: url(img/elements.png) no-repeat  -163px 0;
            }
        }
    }
    .product.__empty{
        &:after{
            display: none;
        }
    }
    span{
        display: inline-block;
    }
    a{
        position: relative;

        display: block;

        text-decoration: none;

        color: $color-txt;
    }
    .product_img,
    .product_txt{
        font-size: 14px;

        display: inline-block;

        vertical-align: top;
    }
    .product_img{
        max-width: 30%;
        max-height: 175px;
        margin-right: 3%;
        margin-bottom: 10px;
        img{
            max-width: 100%;
            max-height: 175px;
        }
    }
    .product_txt{
        width: 67%;
        padding-bottom: 42px;
    }
}

.nav-sidebar-bottom{
    margin-bottom: 100px;
    .column{
        float: left;

        width: 33%;
    }
    .__middle{
        text-align: center;
    }
    .__right{
        float: right;

        text-align: right;
    }
}
