/* promo section sidebar
-----------------------------------------------------------------------------*/

.sidebar-section{
    margin-bottom: 50px;
    img{
        max-width: 100%;
    }
    .save-price{
        display: block;

        width: 220px;
        margin: 0 auto;

        color: $color-layout;
        border-radius: 35px;
        background: $color-template;
        &:hover{
            color: $color-txt;
            background: $color-layout;
        }
    }
}

.promo-section{
    background: $color-footer-left-col;
    .promo-section_txt{
        font-size: 0;

        padding: 10px 0 20px;

        text-align: center;
        .num-txt{
            color: $color-template;

            @include font-size(36);
            @include rem('line-height',40);
        }
        .abstr-txt{
            padding-left: 10px;

            @include font-size(16);
            span{
                display: block;

                text-align: left;

                @include font-size(14);
            }
        }
    }
    .promo-section_txt > span{
        display: inline-block;

        vertical-align: middle;
    }
    .promo-section_buttons{
        font-size: 0;

        padding: 0 0 40px;

        text-align: center;
        .btn{
            @include font-size(12);
            padding: 5px 15px;
        }
    }
}

.news-section{
    padding-bottom: 25px;

    text-align: center;

    background: $color-news-bg;
    a{
        text-decoration: none;
    }
    .news-section_img{
        position: relative;

        display: block;
        img{
            max-width: 100%;
        }
        &:after{
            position: absolute;
            right: 0;
            bottom: 5px;
            left: 0;

            display: block;

            width: 0;
            height: 0;
            margin: auto;

            content: '';

            border-right: 15px solid transparent;
            border-bottom: 12px solid $color-news-bg;
            border-left: 15px solid transparent;
        }
    }
    .news-section_t{
        display: block;

        padding: 10px 25px 20px;

        text-align: left;

        @include font-size(22);
    }
    .btn{
        padding: 5px 15px;

        @include font-size(12);
    }
    .news-section_abstr{
        line-height: 1.4em;

        position: relative;

        padding: 0 25px 20px;

        text-align: left;

        @include font-size(14);
        &:after{
            position: absolute;
            bottom: 21px;

            display: inline-block;

            width: 18px;
            height: 15px;

            content: ' ';

            background: url(img/elements.png) no-repeat -161px 0;
        }
    }
}

.news-section.__modiff{
    background: $color-footer-left-col;
    .news-section_t{
        line-height: 1.4em;

        padding-bottom: 11px;
    }
}

.brend-section{
    .brend-wr{
        font-size: 0;

        text-align: left;
        vertical-align: top;

        border-left: 1px solid $color-gray-light;
        overflow: hidden;
        position: relative;
    }
    .brend-section_item{
        display: inline-block;

        max-width: 150px;
        padding: 10px;

        vertical-align: top;
    }

    .brend-item{
        display: block;
        float: left;
        width: 300px;
        text-align: left;
        font-size: 0;
    }

}


