/* slider header
-----------------------------------------------------------------------------*/
.header_slider{
    position: relative;
    overflow: hidden;

    margin-bottom: 140px;

    @include rem('padding-left', 260);
    img{
        max-width: 100%;
        height: 620px;
    }
    .bx-pager{
        font-size: 0;

        position: absolute;
        bottom: 10px;
        left: 4%;

        height: 18px;

        text-align: left;
        a{
            display: inline-block;

            width: 18px;
            height: 18px;
            margin-left: 5px;

            border: 3px solid $color-template;
            background: #fff;
            span{
                text-indent: -9999px;
            }
            &:first-child{
                margin-left: 0;
            }
            &.active{
                background: #000;
            }
        }
    }
    .bxslider-caption{
        position: absolute;
        top: 130px;
        right: 0;
        bottom: 0;
        left: 20%;

        overflow: hidden;

        max-width: 1044px;

        margin: auto;
    }
    .bxslider_caption_col{
        float: left;

        padding-left: 40px;

        vertical-align: middle;
        width: 40%;
    }
    .bxslider_caption_border{
        padding-right: 40px;
        padding-left: 0;

        border-right: 5px solid $color-template;
    }
    .bxslider_caption_full{
        text-align: center;
        padding: 0;
        width: auto;
        .promo-btns{
            padding: 0;
            text-align: center;
        }
        .promo_txt{
            max-width: 100%;
            width: auto;
        }
    }

    .promo_h1{
        font-family: 'Raleway', sans-serif;

        text-align: right;

        @include font-size(20);
        .txt-big{
            display: block;

            color: $color-layout;

            @include font-size(140);
            @include rem('line-height',140);
        }
        .txt-small{
            display: inline-block;
        }
    }
    .promo_txt{
        max-width: 445px;

        text-align: left;

        color: $color-layout;

        font-size: 48px;
        line-height: 52px;
    }
    .promo-btns{
        font-size: 0;

        margin-top: 50px;

        text-align: left;

        @include rem('padding-left',50);
    }
    .promo-btn-simple,
    .promo-btn-bg{
        display: inline-block;

        box-sizing: border-box;
        width: 155px;
        padding: 8px 0;

        text-align: center;
        vertical-align: top;
        text-decoration: none;
        word-wrap: break-word;

        color: $color-layout;
        border: 3px solid $color-template;
        background: none;

        @include font-size(14);
    }
    .promo-btn-simple{
        &:hover{
            background: $color-template;
        }
    }
    .promo-btn-bg{
        background: $color-template;
        &:hover{
            background: none;
        }
    }
}
