/* slider horizontal scroll
-----------------------------------------------------------------------------*/

.partners{
    position: relative;
    height: 118px;
    margin-bottom: 30px;
    padding-top: 10px;
    &:before,
    &:after{
        content: "";
        display: block;
        position: absolute;
        max-width: 1026px;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        box-sizing: border-box;
    }
    &:before{
        height: 1px;
        background:  $color-scrollbar;
        border-left: 64px solid $color-layout;
        top: 2px;
    }
    &:after{
        height: 5px;
        border-left: 59px solid $color-template;
    }
}
.partners.__cat{
    margin-bottom: 80px;
    .scroll-img{
        position: relative;
        &:after{
            content: "";
            position: relative;
            display: block;
            height: 1px;
            width: 1026px;
            background: $color-gray-light;
            margin: 0 auto;
        }
    }
}
.scroll-img{
    overflow: hidden;
    font-size: 0;
    text-align: center;
    width: 100%;
    position: relative;
    height: 118px;

    ul{
        width: 100%;
        margin: 0;
        padding: 0;
        li{

            margin: 0 5px;
            .__bw{
                position: absolute;
                opacity: 1;
                transition: opacity 0.3s;
            }
            &:hover .__bw{
                opacity: 0;
            }
        }
    }
    .brend-logo{
        float: left;
        padding: 0 7px;
        display: block;
    }
    &:after{
        content: "";
        display: table;
        clear: both;
    }
}

.brend-logo-slider{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 212px;
    &:after{
        display: table;
        content: "";
        clear: both;
    }
    .brend-logo_i{
        float: left;
        position: relative;
        text-align: left;
        padding: 0;
    }
    .brend-logo{
        display: block;
        img{
            display: inline-block;
            vertical-align: top;
            max-width: 80%;
        }
    }
}