/* slider cataloque
-----------------------------------------------------------------------------*/
.full-width{
    overflow: hidden;

    margin-bottom: 70px;
    .note{
        max-width: 1206px;
        margin: 0 auto;

        @include font-size(14);
        &:before{
            display: inline-block;

            margin-right: 5px;

            content: '*';

            color: $color-template;
        }
    }
    .note_link{
        display: inline-block;

        margin-left: 50px;

        text-decoration: none;

        color: $color-txt;
        border-bottom: 1px dotted $color-template;
        &:hover{
            color: $color-template;
            border-color: $color-txt;
        }
    }
}

.gallery{
    position: relative;

    max-width: 1206px;
    margin: 45px auto 0;
    .gallery_inner{
        position: relative;

        width: 10000px;
        margin-bottom: 70px;
        padding-top: 7px;

        *zoom: 1;
        &:after{
            font-size: 0;
            line-height: 0;

            display: block;
            visibility: hidden;
            clear: both;
            overflow: hidden;

            height: 0;

            content: '';
        }
    }
    .gallery_item{
        position: relative;

        float: left;

        -moz-box-sizing: border-box;
             box-sizing: border-box;
        width: 390px;
        height: 325px;
        padding: 20px;

        border-top: 1px solid $color-gray-superlight;
        border-right: 1px solid $color-gray-superlight;
        border-bottom: 1px solid $color-gray-superlight;
        &:first-child{
            border-left: 1px solid $color-gray-superlight;
        }
        &:before{
            position: absolute;
            top: -7px;
            left: -1px;

            width: 100%;
            height: 5px;
            padding: 0 2px;

            content: '';

            background: $color-template;
        }
        span{
            display: block;
        }
        >a{
            text-decoration: none;
        }
    }
    .gallery_title_container{
        word-wrap: break-word;

        @include font-size(20);
        @include rem('line-height', 20);
        a{
            text-decoration: none;
        }
    }
    .gallery_txt{
        @include font-size(14);
        @include rem('line-height',16);
    }
    .gallery_abstr{
        overflow: hidden;

        max-height: 150px;
        padding: 20px 0;

        word-wrap: break-word;

        color: $color-gray-dark;
    }
    .gallery_title_container{
        position: relative;

        display: table-cell;
        // height: 115px;

        padding-bottom: 15px;

        vertical-align: middle;
        &:after{
            position: absolute;
            bottom: 0;
            left: 0;

            display: block;

            width: 70px;
            height: 3px;

            content: '';

            background: #000;
        }
    }

    .gallery_img{
        position: relative;
        img{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            display: block;

            max-width: 100%;
            max-height: 100%;
            margin: auto;
        }
    }
    .__img_v{
        .gallery_img{
            float: left;

            width: 90px;
            height: 100%;

            text-align: center;
            img{
                max-width: 100%;
            }
        }
        .gallery_txt{
            padding-left: 100px;
            padding-top: 50px;
        }
    }
    .__img_h{
        .gallery_img{
            height: 126px;
            margin-bottom: 20px;

            text-align: center;
        }
        .gallery_title_container{
            // height: 70px;
            vertical-align: top;
        }
    }
    .gallery_btn{
        .gallery_btn_prev,
        .gallery_btn_next{
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;

            display: block;

            width: 44px;
            height: 44px;
            margin: auto;

            cursor: pointer;

            background: $color-layout;
            &:hover{
                background: $color-template;
            }
            &:before{
                position: absolute;
                top: 0;
                left: 0;

                display: block;

                width: 44px;
                height: 49px;

                content: '';

                background: url(img/elements.png) no-repeat 0 0;
            }
        }
        .gallery_btn_prev{
            left: -38px;
            &:before{
                background-position: -70px 0;
            }
        }
        .gallery_btn_next{
            right: 26px;
            &:before{
                background-position: -115px 0;
            }
        }
    }
}
.gallery_sticker_wr{
    position: absolute;
    right: 28px;
    bottom: -40px;
}
.gallery_sticker{
    float: right;

    width: 74px;
    margin-left: 5px;
    padding: 1px;

    border: 1px dotted $color-template;
    border-radius: 50%;
    span{
        line-height: 1.2em;

        display: block;

        width: 70px;
        height: 70px;
        padding: 21px 0 0;

        text-align: center;
        text-transform: lowercase;

        color: $color-layout;
        border-radius: 50%;
        background: $color-template;

        @include font-size(12);
    }
}

.gallery_sticker.__new,
.gallery_sticker.__sale{
    span{
        line-height: 70px;

        padding: 0;
    }
}

.gallery_sticker.__new{
    border-color: $color-sticker-new;
    span{
        background: $color-sticker-new;
    }
}
.gallery_sticker.__sale{
    border-color: $color-sticker-sale;
    span{
        background: $color-sticker-sale;

        @include font-size(16);
    }
}
