/* slider scroll
-----------------------------------------------------------------------------*/
.slider-scroll{
	position: relative;
	.gallery_btn_prev,
	.gallery_btn_next{
		width: 35px;
		height: 35px;
		background: #fff;
		position: absolute;
		top: 22%;
		z-index: 2;
		cursor: pointer;
		display: block;
		i{
			display: block;
			position: absolute;
			background-image: url(img/elements.png);
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
		}
	}
	.gallery_btn_prev{
		left: 0;
		i{
			background-position: -75px -5px;			
		}
	}
	.gallery_btn_next{
		right: 0;
		i{
			background-position: -118px -5px;			
		}
	}

	.slider-scroll_frame{
		overflow: hidden;
	}

	.slider-scroll_inner{
		width: 3000px;
		left: 8.242506811989101%;
		position: relative;
		border: 1px solid red;
	}

	.slider-scroll_item{
		float: right;
	}

}

