/* subscribe
-----------------------------------------------------------------------------*/
.subscribe{
    margin-bottom: 90px;
    .subscribe_col_m,
    .subscribe_col_s{
        float: left;

        vertical-align: top;
    }
    .subscribe_col_m{
        width: 71.55555555555556%;
        position: relative;
    }
    .subscribe_col_s{
        width: 28.44444444444444%; // 128px
    }
    .subscribe_t{
        position: relative;

        padding: 30px 0 40px;

        text-align: center;
        text-transform: uppercase;

        color: $color-template;

        @include font-size(22);
        &:before{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;

            display: block;

            width: 120px;
            height: 3px;
            margin: auto;

            content: '';

            background: #000;
        }
    }
    .subscribe_form{
        font-size: 0;

        max-width: 450px;
        margin: 0 auto;
    }
    .subscribe_field{
        font-size: 14px;

        display: block;

        -moz-box-sizing: border-box;
             box-sizing: border-box;
        width: 99%;
        height: 40px;
        margin-right: 2px;
        padding: 0 10px;

        border: 1px solid $color-input;
        &::-webkit-input-placeholder{
            font-style: italic;

            color: #848484;
        }
        &::-moz-placeholder{
            font-style: italic;

            color: #848484;
        }
        &:-moz-placeholder{
            font-style: italic;

            color: #848484;
        }
        &:-ms-input-placeholder{
            font-style: italic;

            color: #848484;
        }
    }
    .subscribe_btn{
        font-family: 'gotham-pro', sans-serif;
        font-size: 14px;

        display: block;

        height: 40px;
        padding: 0 15px;

        cursor: pointer;
        text-align: center;

        color: $color-layout;
        border: none;
        border: 3px solid $color-template;
        background: none;
        background: $color-template;
        &:hover{
            color: $color-txt;
            background: $color-layout;
        }
    }

    .form_field_error{
        left: 0;
        width: 99%;
        &:after{
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    .subscribe_aftersubmit{
        text-align: center;
        padding: 20px 0;
        span{
            display: block;
            font-size: 13px;
            text-align: center;
        }
        a{
            color: $color-txt;
        }
    }
}
