/* tabs
-----------------------------------------------------------------------------*/

.tabs{
	margin-bottom: 40px;
	max-width: 1040px;
	overflow: hidden;
	img{
		max-width: 100%;
	}
	.tabs_nav{
		border-bottom: 1px solid $color-gray;
		padding: 0 50px 15px;
		margin-bottom: 25px;
		a{
			text-decoration: none;
			color: $color-txt;
			position: relative;
			margin-right: 145px;
			transition: transform 0.3s;
			&:hover{
				color: $color-template;
			}
		}
		a.__active{
			color: $color-template;
			&:after{
				content: "";
				display: block;
				position: absolute;
				left: 0;
				right: 0;
				bottom: -21px;
				margin: auto;
				height: 5px;
				width: 40px;
				background: $color-template;
				border-left: 3px solid $color-layout;
				border-right: 3px solid $color-layout;
			}
		}
	}
}