/* trading card
-----------------------------------------------------------------------------*/

.trading-card{
	font-size:0;
	text-align: left;
	margin-bottom: 50px;
	.trading-card_col{
		@include font-size(16);
		vertical-align: top;
		display: inline-block;
		position: relative;
	}


	.trading-card_col.__col-s{
		margin-right: 30px;
	}
	.trading-card_col.__col-m{
		max-width: 690px;
		width: 100%;
	}
	.trading-card_txt{
		padding: 20px 0 40px;
		line-height: 1.4em;
	}

	.trading-card_sticker,
	.trading-card_img{
		display: inline-block;
		vertical-align: top;
	}
	.trading-card_sticker{
		width: 81px;
	}
	.trading-card_img{
		max-width: 480px;
		min-width: 230px;
		text-align: center;
	}


	.gallery_sticker{
		position: relative;
		right: 0;
		bottom: 0;
		top: 0;
		width: 74px;
		height: 74px;
		margin: 0 0 5px;
	}


}

.product-characteristics{
	display: table;
	width: 100%;
	margin-bottom: 20px;
	.product-characteristics_row{
		display: table-row;
	}
	.product-characteristics_row.__title{
		background: $color-footer-left-col;
		.product-characteristics_col{
			border-color: $color-footer-left-col;
		}
	}
	.product-characteristics_col{
		display: table-cell;
		width:50%;
		text-align: center;
		border-bottom: 1px solid $color-gray-superlight;
		padding: 10px;
	}
}

.active-sale{
	@include font-size(14);
	color: $color-template;
	span{
		color: $color-txt;
		display: inline-block;
		margin-right: 25px;
	}
}