/* users markup
-----------------------------------------------------------------------------*/

.users_markup{
	table{
		width: 100%;
		vertical-align: top;
		th, td{
			padding: 10px;
			text-align: center;
		}
		td{
			border-bottom: 1px solid $color-gray-superlight;
			border-left: 0!important;
			border-right: 0!important;
			border-top: 0!important;
		}
		th{
			border: 0!important;			
		}
		tr:first-child th,
		tr:first-child td{
			background: $color-footer-left-col;
		}
		p{
			margin: 0;
			padding: 0;
		}
	}
}

.tabs_item.users_markup{
	table{
		tr:first-child th,
		tr:first-child td{
			background: none;
		}		
	}
	th, td{
		text-align: left;
	}
}