/* validation form
-----------------------------------------------------------------------------*/

.formError {
	z-index: 990;
}
.formError .formErrorContent {
	z-index: 991;
}
.formError .formErrorArrow {
	z-index: 996;
}
.ui-dialog .formError {
	z-index: 5000;
}
.ui-dialog .formError .formErrorContent {
	z-index: 5001;
}
.ui-dialog .formError .formErrorArrow {
	z-index: 5006;
}
.inputContainer {
	position: relative;
	float: left;
}
.formError {
	position: absolute;
	top: 0px!important;
	left: 208px!important;
	display: block;
	cursor: pointer;
	text-align: left;
	opacity: 1!important;
}
.form-layout .form .form_field .formError + input,
.form-layout .form .form_field .formError + textarea,
.form-layout .form .form_field .formError + select{
	border-color: $color-template;
}
.formError.inline {
	position: relative;
	top: 0;
	left: 0;
	display: inline-block;
}
.ajaxSubmit {
	padding: 20px;
	background: #55ea55;
	border: 1px solid #999;
	display: none;
}
.formError .formErrorContent {
	width: 235px;
	text-align: center;
	background: $color-template;
	position: relative;
	color: $color-layout;
	// min-width: 120px;
	@include font-size(10);
	letter-spacing: 0.025em;
	font-style: italic;
	padding: 3px 5px;
}
.bottom_form_conteiner .formError .formErrorContent {
	background: $color-template;
}
.bottom_form_conteiner .formError .formErrorArrow div {
	background: $color-template;
}
.formErrorContent {
	margin-left: 0;
}
.formError.inline .formErrorContent {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	border: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	font-weight: bold;
}

.formError .formErrorArrow {
	width: 15px;
	margin: -2px 0 0 13px;
	position: relative;
}
body[dir="rtl"] .formError .formErrorArrow,
body.rtl .formError .formErrorArrow {
	margin: -2px 13px 0 0;
}
.formError .formErrorArrowBottom {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	margin: 0 0 0 12px;
	top: 2px;
}
.formError .formErrorArrow div {
	font-size: 0;
	height: 1px;
	background: $color-template;
	margin: 0 auto;
	line-height: 0;
	font-size: 0;
	display: block;
}
.formError .formErrorArrowBottom div {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
}

.formError .formErrorArrow .line10 {
	width: 15px;
	border: none;
}
.formError .formErrorArrow .line9 {
	width: 13px;
	border: none;
}
.formError .formErrorArrow .line8 {
	width: 11px;
}
.formError .formErrorArrow .line7 {
	width: 9px;
}
.formError .formErrorArrow .line6 {
	width: 7px;
}
.formError .formErrorArrow .line5 {
	width: 5px;
}
.formError .formErrorArrow .line4 {
	width: 3px;
}
.formError .formErrorArrow .line3 {
	width: 1px;
}
.formError .formErrorArrow .line2 {
	width: 3px;
	border: none;
	background: #ddd;
	display: none;
}
.formError .formErrorArrow .line1 {
	width: 1px;
	border: none;
	background: #ddd;
	display: none;
}